#!/bin/sh

set -eux

{% if operating_system.startswith('centos') %}
yum install -y mysql-connector-java
{% elif operating_system.startswith('ubuntu') or operating_system.startswith('debian') %}
apt-get install -y libmysql-java
{% endif %}

connector_jar=/usr/share/java/mysql-connector-java.jar
ambari_server_path=/var/lib/ambari-server
ambari_agent_path=/var/lib/ambari-agent

[ -d  ${ambari_server_path} ] && mkdir -p ${ambari_server_path}/jdbc-drivers && cp ${connector_jar} ${ambari_server_path}/jdbc-drivers
mkdir -p ${ambari_agent_path}/tmp/ && cp ${connector_jar} ${ambari_agent_path}/tmp/

if [ {{ ambari_username }} -ne "admin" ]; then
    useradd -m {{ ambari_username }}
    echo "y
    {{ ambari_username }}
    y
    n
    n" | ambari-server setup
    echo "Ambari user setup completed"

fi

for port_setting in RQUOTAD_PORT=875 LOCKD_TCPPORT=32803 LOCKD_UDPPORT=32769 MOUNTD_PORT=892 STATD_PORT=662
do
  echo $port_setting >> /etc/sysconfig/nfs
done
