#!/bin/bash -eux

# A utility to start ranger load balancer

mkdir -p /root/.ssh

[ -f /root/.ssh/hortonworks-sustaining-id-rsa ] || cat > /root/.ssh/hortonworks-sustaining-id-rsa <<- EOM
-----BEGIN RSA PRIVATE KEY-----
MIIJKQIBAAKCAgEA93qHZK+G9JA51GcwxKRbKALSB3YMLaJlT0bEzIOUURMYxa6g
96jlngW6h6Y92Mex7bEqkuRJ8Ze3kZnjIrtmnNHWljsvRyZDe/Dp/Z6xWmw13NpH
0ZN8MPvF4mHxHuXmM2V0niZTKAnODpgrB8k3qj12sqexiXEO9Y76WQWktZY2brv7
rS2tSS6mt3fuBpyObRJkZvUYF+fzYQEFE4KUK+KBcW4enNCrP0iOix2bKqSWgy1y
i+YHn5yvx4r2MATdAvNO2vJggQ1+AEHDh/gAz2yUWEeps6KT03JxNMugq9xJWQEd
d1WdSY08wele95yoRC7xFmk6MNoJjXW4dZwLWXwidNFjNF6RvMiJR3U9hDMMy+Rv
S0s+xbvUGGadRfbCV6BbnrAbMljnmPcYKbuX4PArGuyQSSeX/Yx585E2+hZ85mKd
GjB2VKpX5dY5hiuT9jxivHrd9yaKyVNzdLZtlj34CyxowpNb6fAePUj8Oxgb1BRu
kJ0FOMHORK1CFp6dYGk1qOoPt3COqO96wyL+QN+GYo46csLjku62/3rQrSrApHOD
Gaqe+wbEjR3MJm3AzLa3K6a1VU31Ol6mADdNUiGRUE6/iEPsTVhJeSWo8JtCieMb
N+yicQLDSpQhsCaoq4vHzSgvaXjpZD5M1MMDh74vJHrwyR0MY6oKfoZnD88CAwEA
AQKCAgEAxUNezsv3B9Q6tGr4fZYArzjoT1gyRuHOXU2sqtQrEiDluxUCa8auGLK6
R0wkujobQrrYk7PymOd1RFLksRetqEy+/or4mX8Phai36xhmiAv/Nyaq3ovwD19x
EY0+VIGuZ8N0HGeyGxUNsaZrjk4+160cgzWWF1cONIAeX31XGAM/Ki8fYqApI09T
RqULDywVfy2M6GBvLwcNgYH9mNqZ3w0yXscHEbpm9g+Qx6T2vRvqeW9tgcP+yaRs
nOLQb+BAhwyIC4/tipDFodDJ2gS+KJiE+oVM6MoriP0M7aduT+9Ma+yunyOYNzuk
dXDe6QJvQcIlG9cOskfqG179hIm4pK820kXHhostzCMA+slME/farbf0+q4Z0Blx
pY6yntZ7ribdJwwrc0y3989iGYiKoe0aQpmFbYi9ooJBXOdLsUc/LUnFSHztb02v
LGiId+xhOLy54BsMcVT6+mEclryExXtkvy9aAIw8TS8HZaZwizJh7eN8LdT8ZzpB
9pnfOSnTWAurBhhp0yI/uCw3eMV5cKsMf5fHy53tXlbAgdpzLL+OeuRKN8kpzRPf
6MliN/qSmfV8uBdFYkoxYnWH1KqiXPiVauTj9zdFWKK8TCcaMek6WtJojTERHMXy
6wOM5okZmaJS/48RiXMXj2GXFCbzqmnCCz7a7zZbLPLJqAoRMSECggEBAP80RznJ
8S7ofNhy1XGojkXKIftRVl6x5Sj+1X40oU+gUWO+Ro+5dRLx+/Y6ZR/m1JfYLehX
0LvGIeVmFsgmZm5L48sQxIaSrnk4XG1GNq8x3yhR5RIx4CLIs9kfVndBKfPcUUjh
Fx518Xy7ZIMIhtmNfjYREoakOyNaGHU8S0L7CV7SZ2pFxU5l0/ZPFPN6EtvTaRG5
KMeE82foHox4jh88YUdYmRobgA6VmWJkQ4YV0H4ijuCOxsKN58EUEmlaUaIesNXZ
fGMiB+qCFgUEXHjH8FEMBG8DKyXi9M4cBy5dKAo9Ssm2C2i0YfQLTqIp1ydm+bRk
/chMgwSiQ4TrfJECggEBAPhAFWPrHqTqPUXdy8asbtko+iOs2o8EE8r63QEJvwl0
f2AzcZfUkRqQT7XLjtYObk2wVjU7G0uNvncqXrIjFVcz4lY4k/feAy3mtF/ikCT+
7Ab7s4cDhhGmUgxZvCResqGXhCOYDsUkBi9zqYIaVP9goGsv6nPZ0pV+oZaAUp4t
H9IymDKXQHfqPXBQitzZDT33Q/kwGr8w3srKEriKeTYqQHGsyHVqYijYkRjhAbN4
Im4hZIVHl/Xory/3ven8MoNdxMxbEPGweuS5tJZjA5sBt7rOPwsON6GcS8OpFA/K
3t4ONRFALirIYEWqsitgrHrxzBou1Jd3+aEbPR6Jdl8CggEAIiOdL5bbI7pIETBz
ayvwNFfQ6ey8kBheHnjQmHxz49H/cUdf6xQVHD6wxQSUyIq5f8KUiZNNwgDEQgrB
G28/npuaUmzgzVvL6T1n59pPsGoMfzlNWny/jgepP29YwsU91nhviz9JN3Lxpgzv
ajP2zh2Gd7ca8lX/7z+7K9uv+brZSwz8dpP0zAMFMtrrY5K9+Rgz4wIQ+XfIk+rS
Q1pRMM6D+OZaPMrW+5x5k1b0TXiXlngLAvE2l4oiKYsE14EUkIpof4MDh8NiqbVT
OsKVmDau6DiiUzNqTzwoIXZQY5xkodIHMiqfJheTTvFASKMuPAAjgUVNScEqebE3
NQ3HcQKCAQBJLOqhN08jIYDKNWS5vV43WOLS3ULXYUZMUMIQakULjnF1c/SJ4ria
8ertFYGXC03sTIw8yJ11GeUIz052h+zkdYDEFY1YRPL+9sA4e1ot7Y65SDxVEe7V
CQeqaFETD27sPvNOYqYH6mSAXEGc/hIL7PmcXtVnLM/sDRWofU7dHUQB+7PtRbRV
JJDTqIomKzzCBT7eFxXrQYaKlCIMj5THKJEycNHt+lvQ2nV6teiAdGsBt4of10it
zdbF9ureK97f5iX6buWBuJmhDjRzF+CaMllsERt4MMqpMp8Kn64wMYacQefWm+p/
5eyq3HQEYUy2OMwG88LqmwzUNmk/tRlVAoIBAQCueFEentVs2+0I3H021dMMjEXy
zK/Wd2lUFSOj9QkU0aFUPYLAX/mMOF/QaNMrkACQpyVVgMrFivuVWhlNxA+2ND2p
yEKylaVcnJVl+Jow7FKxruFy+Qsi7X9cZbDnfftFwkzi+zXZvrAFo5t1YoW879gt
wyTLCqqbd5ArFQ+Xf1MAVMnEXev8N7U90lhSX2P7LJ5CeEZgOno0GJyE1lwsLCMJ
OvCAd863qh7wz0NR21HQc8cI75a8YO06kAFOUPG/fM2j+JkeJnB/OBsbHeuVk/j1
igxDyVsbCdVIqxouLJvmXLou2D+3XuufeKWXFlOvWedu3AphwC/HaThIr1E7
-----END RSA PRIVATE KEY-----
EOM

[ -f /root/.ssh/hortonworks-sustaining-id-rsa-pub ] || cat > /root/.ssh/hortonworks-sustaining-id-rsa-pub <<- EOM
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQD3eodkr4b0kDnUZzDEpFsoAtIHdgwtomVPRsTMg5RRExjFrqD3qOWeBbqHpj3Yx7HtsSqS5Enxl7eRmeMiu2ac0daWOy9HJkN78On9nrFabDXc2kfRk3ww+8XiYfEe5eYzZXSeJlMoCc4OmCsHyTeqPXayp7GJcQ71jvpZBaS1ljZuu/utLa1JLqa3d+4GnI5tEmRm9RgX5/NhAQUTgpQr4oFxbh6c0Ks/SI6LHZsqpJaDLXKL5gefnK/HivYwBN0C807a8mCBDX4AQcOH+ADPbJRYR6mzopPTcnE0y6Cr3ElZAR13VZ1JjTzB6V73nKhELvEWaTow2gmNdbh1nAtZfCJ00WM0XpG8yIlHdT2EMwzL5G9LSz7Fu9QYZp1F9sJXoFuesBsyWOeY9xgpu5fg8Csa7JBJJ5f9jHnzkTb6FnzmYp0aMHZUqlfl1jmGK5P2PGK8et33JorJU3N0tm2WPfgLLGjCk1vp8B49SPw7GBvUFG6QnQU4wc5ErUIWnp1gaTWo6g+3cI6o73rDIv5A34ZijjpywuOS7rb/etCtKsCkc4MZqp77BsSNHcwmbcDMtrcrprVVTfU6XqYAN01SIZFQTr+IQ+xNWEl5Jajwm0KJ4xs37KJxAsNKlCGwJqiri8fNKC9peOlkPkzUwwOHvi8kevDJHQxjqgp+hmcPzw== hortonworks-sustaining@hortonworks.com
EOM

tee -a /root/.ssh/config > /dev/null << EOM
Host github.com
  IdentityFile /root/.ssh/hortonworks-sustaining-id-rsa
  StrictHostKeyChecking no
EOM

chmod -R 0400 /root/.ssh
chmod 0600 /root/.ssh/config

virtualenv .venv
source .venv/bin/activate
pip install ansible==2.6.1

# for now, using this only to SSH, as it's pub pair is used in cluster-create, for SSH access.
[ -f /root/.ssh/hw-qe-keypair.pem ] || cat > /root/.ssh/hw-qe-keypair.pem <<- EOM
-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEAwf4QUH8xfdUhMWeDIJVO3l9ukXyBLM+Wghs822hnkBuyXIeV
yFhxNfdgP+Y0VGctnlObBTLGEt9ixKiklSZ+Tf+T+8hNkL3E1KLDO8B1kFuCayJi
9D0yUz10XP0L5Bj5Gty7wQi+j5VRDchhqPgtw/nYEpaGgXmfVEZNCPmHP1bIoUKD
HZFTmCCgBsWZRvyQRAQYwmeZ4OFpc3X3LCoLVBm6+pzp95qivPz5L/AnloLhGGom
4+TrOsnZh1Wd9MNLSw+hru1B9eDNzNy5zZQp3UixuG0c1D+jsRhBVpRvBjyZ792d
4d6G6it4yALMfBh0fRMUfGHTZb5IoG0IPMQxiQIDAQABAoIBACMJvW6cmpbMsPMY
bCGtdhJKEFFsuHQchmW3f7VtVQ89QWjfAFmwR7pklNjVvmvkOuQW27ADrKzp9g/p
Gdjqm/OAjvzx/7h93hg90Z9wMovBS3wIOPE+QGGyftrwxX4MWKnWZn8GEk0ivgIM
SD9ZnAKClNk+oMqv6ewxymYtk5UHyX4CQ8YxPvnRyO8rglJA4zU6agE3vFeFQP/u
eOkymD9pzvMB3CMhU307q2gP/f3VCFguJdKO841T/FkfClyR9Wtsgng6vT6qTcfw
9PdAqXHOrwjDvSmgfdFFFdP2/5MtBGBZF39F3Ne6IfBpS+IcsyDcJCI1QiIYlRNX
a9JHLcUCgYEA/l61N5IUzWbw1SHTRBR1Hgb+a2+98AjDcYqosbgLfpQo3uFDyfnk
CwrY9KqwaSvn0dMmhQnwU51IE+2+l8st19sPhPMVddYXH2n3uyKGRRGPMDAhtMWf
GVYZgGvRz976bUlTUWUtcHcv+633TNNnaO7GHLkkx47bcK+t88T32jcCgYEAwzxO
lMk1sRlQx3psbcVZ2Kls5e3SOUqOB15mWfEMVITlzOu4FiEbVv9CbuNtKNjhu7Ln
J5mIf2MJiD3W4OK/hA9671KOxiV2wNQ0XkbtyLazR+LwSwaRU7V8KsJMuH8d2b73
/qo1ggf+X084iqL9tUBqZwbLBVJtH51BSw+vcj8CgYEA6iT3no2DRIdrTGT0eYhz
Pg6mBvM23UrTzSIbomuNeRicfnzQz4yM03VKu/yaolTd8RDyNigt5mmyvVVsyYEn
U7i7kl/H8038vtfmR4XCHrXJHkxP2nzGtKXCl6mn2jagQhTq8tO1ff7YVk2OhFNc
rwSLrEjoiCEB8bpk3y0CEQUCgYBfK6e2ubrVoNyS0OfIPtrEVhrCnsLKsMA5cVf9
Yha7oKkQ0ptDFlJofzgYK/8LWWX4hIZP9HTofBOqeVKk/4OSUaWAwkLc7mhMKWV5
y6OgIweT9FlkiUgQgTiM83hIu5aGjaQAXWKGB3WFam3KjxeT4lm77UDMUFjnf1XT
zEqfKwKBgCYHwNXo4eX2+v0Myk+zSaDF1hO8BorWANNSdkj3MlAncUfouzLRwigj
7k7OlCSflm2tYNFtdhheZf8Bu2eUm+/uqelrgKJJW4gaV9ILtFOQWayZ7F6yrvRp
UJp++mpVj67cxQmzxRHvVGtW3vXShcqjWuLBZ/nZEnioZl8Zb3PA
-----END RSA PRIVATE KEY-----
EOM

chmod -R 0400 /root/.ssh
chmod 0600 /root/.ssh/config

[ -d /root/ansible-ambari-tools ] || git clone git@github.com:kishorramakrishnan/ansible-ambari-tools.git
playbook_dir=/root/ansible-ambari-tools
cd ${playbook_dir}
git checkout ha-knox
touch inventory/hosts
install_ranger=false

{% if security.value in ('ranger', 'ranger+tde') %}
install_ranger=true
{% endif %}

pip install -r ${playbook_dir}/requirements.txt

cat > ${playbook_dir}/ambari.cfg << EOF
[default]
url = http://localhost:8080
user = admin
password = admin
EOF

cat <<EOT >> group_vars/all.yaml
cluster_name: {{ generated.cluster_name }}
install_ranger:  ${install_ranger}
install_knox: true
install_oozie: true
EOT
#sed -i 's/inventory = .*/inventory = inventory\//g' ansible.cfg

ansible-playbook ha_loadbalancer.yaml --private-key  /root/.ssh/hw-qe-keypair.pem