{
  "infra-solr-env": {
    "properties": {
      "infra_solr_user": "infra-solr"
    }
  }
},
{
  "infra-solr-client-log4j": {
    "properties": {
      "infra_solr_client_log_dir": "/grid/0/log/ambari-infra-solr-client"
    }
  }
}