{
  "mapred-site": {
    "properties": {
      "mapreduce.am.max-attempts": "20"
    }
  }
},
{
  "mapred-env": {
    "properties": {
      "mapred_log_dir_prefix": "/grid/0/log/hadoop-mapreduce",
      "mapred_user": "mr",
      "mapreduce_log_dir_prefix": "/grid/0/log/hadoop-mapreduce"
    }
  }
}