{
  "zoo.cfg": {
    "properties": {
      "dataDir": "/grid/0/hadoop/zookeeper",
      "tickTime": "4500"
    }
  }
},
{
  "zookeeper-env": {
    "properties": {
      "zk_log_dir": "/grid/0/log/zookeeper",
      "zk_user": "zookeeper"
    }
  }
}