{
    "Blueprints": {
        "blueprint_name": "{{ cluster_name }}",
        "stack_name": "{{ stack }}",
        "stack_version": "{{ stack_major_version }}"
    },
    "host_groups": [
        {
            "name": "master_1",
            "cardinality": "1",
            "components": [
                {
                    "name": "NIMBUS"
                },
                {
                    "name": "HISTORYSERVER"
                },
                {
                    "name": "JOURNALNODE"
                },
                {
                    "name": "NAMENODE"
                },
                {
                    "name": "ZKFC"
                },
                {
                    "name": "PIG"
                },
                {
                    "name": "SQOOP"
                },
                {
                    "name": "ZOOKEEPER_SERVER"
                },
                {
                    "name": "KAFKA_BROKER"
                },
                {
                    "name": "INFRA_SOLR"
                },
                {
                    "name": "SLIDER"
                },
                {
                    "name": "MAPREDUCE2_CLIENT"
                },
                {
                    "name": "TEZ_CLIENT"
                },
                {
                    "name": "YARN_CLIENT"
                },
                {
                    "name": "ZOOKEEPER_CLIENT"
                },
                {
                    "name": "HBASE_CLIENT"
                },
                {
                    "name": "HIVE_CLIENT"
                },
                {
                    "name": "ATLAS_CLIENT"
                },
                {
                    "name": "NIFI_CA"
                }
            ]
        },
        {
            "name": "master_2",
            "cardinality": "1",
            "components": [
                {
                    "name": "NIFI_MASTER"
                },
                {
                    "name": "APP_TIMELINE_SERVER"
                },
                {
                    "name": "JOURNALNODE"
                },
                {
                    "name": "RESOURCEMANAGER"
                },
                {
                    "name": "ZOOKEEPER_SERVER"
                },
                {
                    "name": "HBASE_MASTER"
                },
                {
                    "name": "HIVE_SERVER"
                },
                {
                    "name": "HIVE_METASTORE"
                },
                {% if 'ranger' in security %}
                {
                    "name": "RANGER_TAGSYNC"
                },
                {
                    "name": "RANGER_ADMIN"
                },
                {
                    "name": "RANGER_USERSYNC"
                },
                {
                    "name": "RANGER_KMS_SERVER"
                },
                {% endif %}
                {
                    "name": "HCAT"
                },
                {
                    "name": "PIG"
                },
                {
                    "name": "SQOOP"
                },
                {
                    "name": "WEBHCAT_SERVER"
                },
                {
                    "name": "SLIDER"
                },
                {
                    "name": "INFRA_SOLR"
                },
                {
                    "name": "HIVE_CLIENT"
                },
                {
                    "name": "MAPREDUCE2_CLIENT"
                },
                {
                    "name": "TEZ_CLIENT"
                },
                {
                    "name": "YARN_CLIENT"
                },
                {
                    "name": "HBASE_CLIENT"
                },
                {
                    "name": "ATLAS_CLIENT"
                },
                {
                    "name": "ZOOKEEPER_CLIENT"
                }
            ]
        },
        {
            "name": "master_3",
            "cardinality": "1",
            "components": [
                {
                    "name": "STORM_UI_SERVER"
                },
                {
                    "name": "NIFI_MASTER"
                },
                {
                    "name": "DRPC_SERVER"
                },
                {
                    "name": "JOURNALNODE"
                },
                {
                    "name": "NAMENODE"
                },
                {
                    "name": "ZKFC"
                },
                {
                    "name": "ZOOKEEPER_SERVER"
                },
                {
                    "name": "SLIDER"
                },
                {
                    "name": "KAFKA_BROKER"
                },
                {
                    "name": "PIG"
                },
                {
                    "name": "SQOOP"
                },
                {
                    "name": "MAPREDUCE2_CLIENT"
                },
                {
                    "name": "TEZ_CLIENT"
                },
                {
                    "name": "YARN_CLIENT"
                },
                {
                    "name": "ZOOKEEPER_CLIENT"
                },
                {
                    "name": "HBASE_CLIENT"
                },
                {
                    "name": "ATLAS_CLIENT"
                },
                {
                    "name": "HIVE_CLIENT"
                }
            ]
        },
        {
            "name": "master_4",
            "components": [
                {
                    "name": "NIFI_MASTER"
                },
                {
                    "name": "SUPERVISOR"
                },
                {
                    "name": "DATANODE"
                },
                {
                    "name": "NODEMANAGER"
                },
                {
                    "name": "HBASE_REGIONSERVER"
                },
                {
                    "name": "PIG"
                },
                {
                    "name": "SQOOP"
                },
                {
                    "name": "SLIDER"
                },
                {
                    "name": "MAPREDUCE2_CLIENT"
                },
                {
                    "name": "TEZ_CLIENT"
                },
                {
                    "name": "YARN_CLIENT"
                },
                {
                    "name": "ZOOKEEPER_CLIENT"
                },
                {
                    "name": "HBASE_CLIENT"
                },
                {
                    "name": "ATLAS_CLIENT"
                },
                {
                    "name": "HIVE_CLIENT"
                }
            ]
        },
        {
            "name": "master_5",
            "components": [
                {
                    "name": "KAFKA_BROKER"
                },
                {
                    "name": "NIFI_MASTER"
                },
                {
                    "name": "KNOX_GATEWAY"
                },
                {
                    "name": "ATLAS_SERVER"
                },
                {
                    "name": "MAPREDUCE2_CLIENT"
                },
                {
                    "name": "TEZ_CLIENT"
                },
                {
                    "name": "YARN_CLIENT"
                },
                {
                    "name": "ZOOKEEPER_CLIENT"
                },
                {
                    "name": "HBASE_CLIENT"
                },
                {
                    "name": "ATLAS_CLIENT"
                },
                {
                    "name": "HIVE_CLIENT"
                }
            ]
        }
    ],
    "configurations": [
        {
            "cluster-env": {
                "properties": {
                    "command_retry_max_time_in_sec": "1200"
                }
            }
        },
        {
            "core-site": {
                "properties": {
                    "fs.defaultFS": "hdfs:\/\/{{ cluster_name }}",
                    "hadoop.proxyuser.ambari-server-{{ cluster_name }}.groups": "*",
                    "hadoop.proxyuser.ambari-server-{{ cluster_name }}.hosts": "*",
                    "ha.zookeeper.quorum": "%HOSTGROUP::master_1%:2181,%HOSTGROUP::master_2%:2181,%HOSTGROUP::master_3%:2181",
                    "ipc.server.tcpnodelay": "true",
                    "hadoop.security.key.provider.path": "kms:\/\/http@%HOSTGROUP::master_2%:9292\/kms",
                    "hadoop.proxyuser.hdfs.groups": "*",
                    "hadoop.proxyuser.HTTP.hosts": "*",
                    "hadoop.proxyuser.hcat.groups": "*",
                    "hadoop.proxyuser.hive.hosts": "*",
                    "hadoop.proxyuser.hdfs.hosts": "*",
                    "hadoop.proxyuser.yarn.groups": "*",
                    "hadoop.proxyuser.kms.groups": "*",
                    "hadoop.proxyuser.hcat.hosts": "*",
                    "hadoop.proxyuser.hive.groups": "*",
                    "hadoop.proxyuser.yarn.hosts": "*",
                    "hadoop.proxyuser.HTTP.groups": "users"
                }
            }
        },
        {
            "hdfs-site": {
                "properties": {
                    "dfs.namenode.name.dir": "\/grid\/0\/hadoop\/hdfs\/namenode",
                    "dfs.datanode.data.dir": "\/grid\/0\/hadoop\/hdfs\/data",
                    "dfs.ha.automatic-failover.enabled": "true",
                    "dfs.ha.fencing.methods": "shell(\/bin\/true)",
                    "dfs.namenode.http-address": "%HOSTGROUP::master_1%:50070",
                    "dfs.namenode.https-address": "%HOSTGROUP::master_1%:50470",
                    "dfs.encryption.key.provider.uri": "kms:\/\/http@%HOSTGROUP::master_2%:9292\/kms",
                    "dfs.datanode.failed.volumes.tolerated": "0",
                    "dfs.journalnode.edits.dir": "\/hadoop\/hdfs\/journal",
                    "dfs.client.failover.proxy.provider.{{ cluster_name }}": "org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider",
                    "dfs.ha.namenodes.{{ cluster_name }}": "nn1,nn2",
                    "dfs.namenode.http-address.{{ cluster_name }}.nn1": "%HOSTGROUP::master_1%:50070",
                    "dfs.namenode.http-address.{{ cluster_name }}.nn2": "%HOSTGROUP::master_3%:50070",
                    "dfs.namenode.https-address.{{ cluster_name }}.nn1": "%HOSTGROUP::master_1%:50470",
                    "dfs.namenode.https-address.{{ cluster_name }}.nn2": "%HOSTGROUP::master_3%:50470",
                    "dfs.namenode.rpc-address.{{ cluster_name }}.nn1": "%HOSTGROUP::master_1%:8020",
                    "dfs.namenode.rpc-address.{{ cluster_name }}.nn2": "%HOSTGROUP::master_3%:8020",
                    "dfs.namenode.shared.edits.dir": "qjournal:\/\/%HOSTGROUP::master_1%:8485;%HOSTGROUP::master_2%:8485;%HOSTGROUP::master_3%:8485\/{{ cluster_name }}",
                    "dfs.nameservices": "{{ cluster_name }}",
                    "dfs.internal.nameservices": "{{ cluster_name }}"
                }
            }
        },
        {
            "admin-properties": {
                "properties": {
                    "db_root_password": "rangerdba",
                    "db_password": "rangerdba",
                    "policymgr_external_url": "http:\/\/localhost:6080",
                    "db_root_user": "rangerdba",
                    "DB_FLAVOR": "MYSQL",
                    "db_user": "rangerdba",
                    "db_name": "ranger",
                    "db_host": "localhost",
                    "SQL_CONNECTOR_JAR": "\/usr\/share\/java\/mysql-connector-java.jar"
                }
            }
        },
        {
            "ranger-admin-site": {
                "properties": {
                    "ranger.audit.source.type": "solr",
                    "ranger.jpa.jdbc.driver": "com.mysql.jdbc.Driver",
                    "ranger.jpa.jdbc.url": "jdbc:mysql:\/\/localhost\/ranger"
                }
            }
        },
        {
            "ranger-env": {
                "properties": {
                    "is_solrCloud_enabled": "true",
                    "ranger_privelege_user_jdbc_url": "jdbc:mysql:\/\/localhost",
                    "is_external_solrCloud_enabled": "false",
                    "is_external_solrCloud_kerberos": "false",
                    "ranger_admin_password": "Rangerpassword@123",
                    "rangerusersync_user_password": "Rangerpassword@123",
                    "rangertagsync_user_password": "Rangerpassword@123",
                    "keyadmin_user_password": "Rangerpassword@123",
                    {% if 'ranger' in security %}
                    "ranger-kafka-plugin-enabled": "No",
                    "ranger-nifi-plugin-enabled": "Yes",
                    {% endif %}
                    "xasecure.audit.destination.hdfs": "false"
                }
            }
        },
        {
            "kafka-broker": {
                "properties": {
                    "listeners": "SASL_PLAINTEXT:\/\/localhost:6668,PLAINTEXT:\/\/localhost:6669,SSL:\/\/localhost:6670,SASL_SSL:\/\/localhost:6671",
                    "delete.topic.enable": "true",
                    "security.inter.broker.protocol": "SASL_PLAINTEXT",
                    "auto.create.topics.enable": "true",
                    "ssl.truststore.location": "/tmp/nifi-test-data-ycloud/hdf_kafka/ssl/server.truststore.jks",
                    "ssl.truststore.password": "Hortonworks!",
                    "ssl.keystore.location": "/tmp/nifi-test-data-ycloud/hdf_kafka/ssl/server.keystore.jks",
                    "ssl.key.password": "Hortonworks!",
                    "ssl.keystore.password": "Hortonworks!"
                }
            }
        },
        {
            "yarn-env": {
                "properties": {
                    "yarn_cgroups_enabled": "false",
                    "yarn_user_nproc_limit": "65536",
                    "apptimelineserver_heapsize": "1024",
                    "yarn_user_nofile_limit": "32768",
                    "yarn_heapsize": "1024",
                    "nodemanager_heapsize": "1024"
                }
            }
        },
        {
            "infra-solr-env": {
                "properties": {
                    "infra_solr_user": "infra-solr",
                    "infra_solr_maxmem": "2048"
                }
            }
        },
        {
            "hive-site": {
                "properties": {
                    "hive.server2.transport.mode": "binary",
                    "hive.compactor.initiator.on": "true",
                    "hive.compactor.worker.threads": "2",
                    "hive.zookeeper.quorum": "%HOSTGROUP::master_1%:2181,%HOSTGROUP::master_2%:2181,%HOSTGROUP::master_3%:2181",
                    "hive.cluster.delegation.token.store.zookeeper.connectString": "%HOSTGROUP::master_1%:2181,%HOSTGROUP::master_2%:2181,%HOSTGROUP::master_3%:2181",
                    "hive.server2.keystore.password": "Hortonworks!",
                    "hive.server2.keystore.path": "\/etc\/security\/ssl\/server.keystore.jks",
                    "hive.txn.manager": "org.apache.hadoop.hive.ql.lockmgr.DbTxnManager",
                    "hive.support.concurrency": "true",
                    "hive.exec.dynamic.partition.mode": "nonstrict",
                    "javax.jdo.option.ConnectionDriverName": "com.mysql.jdbc.Driver",
                    "javax.jdo.option.ConnectionURL": "jdbc:mysql:\/\/localhost:3306\/hive?createDatabaseIfNotExist=true",
                    "javax.jdo.option.ConnectionUserName": "hive",
                    "javax.jdo.option.ConnectionPassword": "hive"
                }
            }
        },
        {
            "hadoop-env": {
                "properties": {
                    "hadoop_heapsize": "1024",
                    "proxyuser_group": "users",
                    "dtnode_heapsize": "1024m",
                    "hdfs_user": "hdfs",
                    "hadoop_pid_dir_prefix": "\/var\/run\/hadoop",
                    "namenode_opt_newsize": "128m",
                    "namenode_heapsize": "1024m",
                    "namenode_opt_maxpermsize": "256m",
                    "nfsgateway_heapsize": "1024",
                    "hdfs_user_nofile_limit": "128000",
                    "hdfs_user_nproc_limit": "65536",
                    "namenode_opt_maxnewsize": "128m",
                    "namenode_opt_permsize": "128m"
                }
            }
        },
        {
            "mapred-env": {
                "properties": {
                    "jobhistory_heapsize": "900",
                    "mapred_user_nofile_limit": "32768",
                    "mapred_user": "mapred",
                    "mapred_user_nproc_limit": "65536"
                }
            }
        },
        {
            "hive-env": {
                "properties": {
                    "hive_security_authorization": "None",
                    "hive_user_nproc_limit": "16000",
                    "hive.metastore.heapsize": "1993",
                    "hive_timeline_logging_enabled": "true",
                    "hive_txn_acid": "on",
                    "hive.client.heapsize": "1024",
                    "hive.heapsize": "5981",
                    "hive_database_name": "hive",
                    "hive_database_type": "mysql",
                    "hive_user_nofile_limit": "32000",
                    "hive_pid_dir": "\/var\/run\/hive",
                    "hcat_pid_dir": "\/var\/run\/webhcat",
                    "hive_existing_mysql_database": "MySQL",
                    "hive_database": "Existing MySQL \/ MariaDB Database"
                }
            }
        },
        {
            "hbase-env": {
                "properties": {
                    "hbase_regionserver_xmn_max": "4000",
                    "hbase_regionserver_heapsize": "4096",
                    "hbase_master_heapsize": "1024",
                    "phoenix_sql_enabled": "true"
                }
            }
        },
        {
            "hbase-site": {
                "properties": {
                    "hbase.rootdir": "hdfs:\/\/{{ cluster_name }}\/apps\/hbase\/data"
                }
            }
        },
        {
            "kms-properties": {
                "properties": {
                    "hbase_regionserver_xmn_max": "4000",
                    "hbase_regionserver_heapsize": "4096",
                    "hbase_master_heapsize": "1024",
                    "phoenix_sql_enabled": "true",
                    "ranger.jpa.jdbc.driver": "com.mysql.jdbc.Driver",
                    "db_root_password": "rangerdba",
                    "db_password": "rangerdba",
                    "KMS_MASTER_KEY_PASSWD": "rangerdba",
                    "db_host": "localhost",
                    "ranger.ks.jpa.jdbc.url": "jdbc:mysql:\/\/localhost\/ranger",
                    "SQL_CONNECTOR_JAR": "\/usr\/share\/java\/mysql-connector-java.jar",
                    "db_root_user": "rangerdba"
                }
            }
        },
        {
            "kms-site": {
                "properties": {
                    "hadoop.kms.proxyuser.ambari.users": "*",
                    "hadoop.kms.proxyuser.oozie.users": "*",
                    "hadoop.kms.proxyuser.HTTP.hosts": "*",
                    "hadoop.kms.proxyuser.hive.users": "*",
                    "hadoop.kms.proxyuser.ambari.hosts": "*",
                    "hadoop.kms.proxyuser.HTTP.users": "*",
                    "hadoop.kms.proxyuser.oozie.hosts": "*",
                    "hadoop.kms.proxyuser.yarn.hosts": "*"
                }
            }
        },
        {
            "dbks-site": {
                "properties": {
                    "ranger.ks.jpa.jdbc.driver": "com.mysql.jdbc.Driver"
                }
            }
        },
        {
            "nifi-ambari-config": {
                "properties": {
                    "nifi.max_mem": "4G",
                    "nifi.initial_mem": "4G",
                    "nifi.sensitive.props.key": "Hortonworks@123",
                    "nifi.security.encrypt.configuration.password": "Hortonworks@123"
                }
            }
        },
        {
            "nifi-ambari-ssl-config": {
                "properties": {
                    {% if security in ('kerberos', 'ranger') %}
                    "nifi.node.ssl.isenabled": "true",
                    "nifi.security.keystoreType": "JKS",
                    "nifi.security.truststoreType": "JKS",
                    "nifi.security.keystorePasswd": "Hortonworks@123",
                    "nifi.security.keyPasswd": "Hortonworks@123",
                    "nifi.security.truststorePasswd": "Hortonworks@123",
                    {% endif %}
                    "nifi.toolkit.tls.token": "Hortonworks@123",
                    "nifi.initial.admin.identity": "hrt_qa@HDF.COM"
                }
            }
        },
        {
          "nifi-properties": {
            "properties": {
              {% if  security in ('kerberos', 'ranger') %}
              "nifi.security.user.login.identity.provider": "kerberos-provider",
              "nifi.security.identity.mapping.pattern.dn": "^CN=(.*?), OU=(.*?)$",
              "nifi.security.identity.mapping.pattern.kerb": "^(.*?)/instance@(.*?)$",
              "nifi.security.identity.mapping.value.dn": "$1@$2",
              "nifi.security.identity.mapping.value.kerb": "$1@$2",

              {% raw %}
              "nifi.remote.input.host": "{{nifi_node_ssl_host}}",
              {% endraw %}

              {% else %}

              {% raw %}
              "nifi.remote.input.host": "{{nifi_node_nonssl_host}}",
              {% endraw %}

              "nifi.security.user.login.identity.provider": "",

              {% endif %}
              "nifi.web.https.network.interface.default": "eth0",
              "nifi.cluster.node.protocol.threads": "20",
              "nifi.cluster.node.connection.timeout": "30 secs",
              "nifi.cluster.node.read.timeout": "30 secs",
              "nifi.cluster.flow.election.max.wait.time" : "2 mins",
              "nifi.remote.input.socket.port" : "9889",
              "nifi.zookeeper.connect.timeout" : "10 secs",
              "nifi.zookeeper.session.timeout" : "10 secs"
            }
          }
        },
        {% if security in ('kerberos', 'ranger') %}
        {
          "kerberos-env": {
            "properties" : {
              "realm" : "HDF.COM",
               "kdc_type" : "mit-kdc",
               "kdc_hosts" : "ctr-e134-1499953498516-82150-01-000002.hwx.site",
               "admin_server_host" : "ctr-e134-1499953498516-82150-01-000002.hwx.site"
            }
          }
        },
        {
          "krb5-conf": {
            "properties" : {
              "manage_krb5_conf" : "true",
              "domains" : "HDF.COM",
              "content" : "[libdefaults]\nrenew_lifetime = 7d\nforwardable = true\ndefault_realm = HDF.COM\nticket_lifetime = 24h\ndns_lookup_realm = false\ndns_lookup_kdc = false\ndefault_ccache_name = /tmp/krb5cc_%{uid}\n#default_tgs_enctypes = aes des3-cbc-sha1 rc4 des-cbc-md5\n#default_tkt_enctypes = aes des3-cbc-sha1 rc4 des-cbc-md5\n[logging]\ndefault = FILE:/var/log/krb5kdc.log\nadmin_server = FILE:/var/log/kadmind.log\nkdc = FILE:/var/log/krb5kdc.log\n[realms]\nHDF.COM = {\nadmin_server = ctr-e134-1499953498516-82150-01-000002.hwx.site\nkdc = ctr-e134-1499953498516-82150-01-000002.hwx.site\n}\n"
            }
          }
        },
        {% endif %}
        {
            "application-properties": {
                "properties": {
                    "atlas.graph.storage.hostname": "%HOSTGROUP::master_3%:2181"
                }
            }
        }
    ]
}