{
  "general": {
    "name": "{{ generated.cluster_name }}",
    {% if cloudbreak.cloud_provider == 'yarn' %}
    "credentialName": "ycloud"
    {% elif cloudbreak.cloud_provider == 'openstack' %}
    "credentialName": "openstack"
    {% elif cloudbreak.cloud_provider == 'azure' %}
    "credentialName": "qaas-cloudbreak-azure"
    {% elif cloudbreak.cloud_provider == 'amazon' %}
    "credentialName": "qaas-cloudbreak-aws"
    {% endif %}
  },
  "tags": {
    "userDefinedTags": {}
  },
  "parameters": {
    {% if cloudbreak.cloud_provider == 'yarn' %}
    "yarnQueue": "{{ ycloud_queue }}",
    "lifeTime": -1
    {% elif cloudbreak.cloud_provider == 'azure' %}
    "encryptStorage": "false"
    {% endif %}
  },
  {% if cloudbreak.cloud_provider in ('azure', 'amazon') %}
  "customDomain": {
    "clusterNameAsSubdomain": false,
    "hostgroupNameAsHostname": false
  },
  {% endif %}
  "placement": {
    {% if cloudbreak.cloud_provider == 'openstack' %}
    "availabilityZone": "nova",
    "region": "RegionOne"
    {% elif cloudbreak.cloud_provider == 'azure' %}
    "region": "North Europe"
    {% elif cloudbreak.cloud_provider == 'amazon' %}
    "availabilityZone": "us-west-1a",
    "region": "us-west-1"
    {% else %}
    "region": "default"
    {% endif %}
  },
  "flexId": null,
  "cluster": {
    "ambari": {
      "userName": "{{ ambari_username }}",
      "password": "{{ ambari_password }}",
      "blueprintName": "{{ generated.cluster_name }}",
      "ambariRepoDetailsJson": {
        "version": "{{ cloudbreak.ambari.version }}",
        "baseUrl": "{{ generated.cloudbreak.ambari.repo_url }}",
        "gpgKeyUrl": "http://public-repo-1.hortonworks.com/ambari/centos7/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins"
      },
      "ambariStackDetails": {
        "stack": "{{ stack }}",
        "version": "{{ stack_major_version }}",
        "verify": false,
        "enableGplRepo": true,
        "repositoryVersion": "{{ stack_version_with_build }}",
        "versionDefinitionFileUrl": "{{ generated.cloudbreak.ambari.stack_vdf_url }}"
      },
      "validateBlueprint": false,
      {% if security.value in ('kerberos', 'ranger') %}
      "ambariSecurityMasterKey": "",
      "kerberos": {
        "url": "ctr-e134-1499953498516-82150-01-000002.hwx.site",
        "adminUrl": "ctr-e134-1499953498516-82150-01-000002.hwx.site",
        "realm": "HDF.COM",
        "tcpAllowed": true,
        "password": "Hortonworks",
        "principal": "admin/admin"
      },
      "enableSecurity": true
      {% else %}
      "ambariSecurityMasterKey": ""
      {% endif %}
    },
    "sharedService": {},
    "rdsConfigNames": []
  },
  "imageSettings": {
    "imageId": "{{ cloudbreak.image.uuid }}",
    "imageCatalog": "{{ cloudbreak.image.catalog }}"
  },
  "instanceGroups": [
    {% for node in range(1, 4) %}
    {
      "template": {
        {% if cloudbreak.cloud_provider == 'yarn' %}
          {% if node == 2 %}
          "customInstanceType": {
            "cpus": 4,
            "memory": 16384
          }
          {% else %}
          "customInstanceType": {
            "cpus": 4,
            "memory": 8192
          }
          {% endif %}
        {% elif cloudbreak.cloud_provider == 'openstack' %}
        "parameters": {
          "encrypted": false
        },
        "instanceType": "cloudbreak",
        "volumeType": "HDD",
        "volumeCount": 0,
        "volumeSize": 100
        {% elif cloudbreak.cloud_provider == 'amazon' %}
        "parameters": {
            "encrypted": false
        },
        "instanceType": "m4.xlarge",
        "volumeType": "standard",
        "volumeCount": 1,
        "volumeSize": 100
        {% elif cloudbreak.cloud_provider == 'azure' %}
        "parameters": {
            "encrypted": false,
            "managedDisk": true
        },
        "instanceType": "Standard_D3_v2",
        "volumeType": "Standard_LRS",
        "volumeCount": 1,
        "volumeSize": 100
        {% endif %}
      },
      {% if node <= 2 %}
      "nodeCount": 1,
      "group": "master_{{ node }}",
      {% else %}
      "nodeCount": 3,
      "group": "slave_group",
      {% endif %}
      "type": "{{ 'GATEWAY' if node == 1 else 'CORE' }}",
      "recoveryMode": "MANUAL",
      "securityGroup": {
        {% if cloudbreak.cloud_provider == 'openstack' %}
        "securityGroupId": "8a35943b-dffc-4cd4-8999-47653afed4e3"
        {% elif cloudbreak.cloud_provider in ('azure', 'amazon') %}
        "securityRules": [
          {% if node == 1 %}
          {
            "subnet": "0.0.0.0/0",
            "ports": "443",
            "protocol": "tcp"
          },
          {
            "subnet": "0.0.0.0/0",
            "ports": "9443",
            "protocol": "tcp"
          },
          {% endif %}
          {
            "subnet": "0.0.0.0/0",
            "ports": "22",
            "protocol": "tcp"
          },
          {
            "subnet": "192.175.27.2/32",
            "ports": "1-65000",
            "protocol": "tcp"
          },
          {
            "subnet": "192.175.27.10/32",
            "ports": "1-65000",
            "protocol": "tcp"
          }
        ]
        {% endif %}
      },
      "recipeNames": [
        {% if node == 2 %}
        "{{ generated.cluster_name }}-db-bootstrap-sh-pre-ambari-start",
        {% endif %}
        "{{ generated.cluster_name }}-log-collector-setup-sh-pre-ambari-start",
        "{{ generated.cluster_name }}-pyenv-setup-sh-pre-ambari-start",
        "{{ generated.cluster_name }}-collect-logs-sh-pre-termination",
        "{{ generated.cluster_name }}-init-sh-pre-ambari-start",
        "{{ generated.cluster_name }}-hwqe-grpc-sh-pre-ambari-start"
      ]
    {{ '},' if node < 3 else '}' }}
    {% endfor %}
  ],
  "stackAuthentication": {
    "publicKey": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDB/hBQfzF91SExZ4MglU7eX26RfIEsz5aCGzzbaGeQG7Jch5XIWHE192A/5jRUZy2eU5sFMsYS32LEqKSVJn5N/5P7yE2QvcTUosM7wHWQW4JrImL0PTJTPXRc/QvkGPka3LvBCL6PlVENyGGo+C3D+dgSloaBeZ9URk0I+Yc/VsihQoMdkVOYIKAGxZlG/JBEBBjCZ5ng4WlzdfcsKgtUGbr6nOn3mqK8/Pkv8CeWguEYaibj5Os6ydmHVZ30w0tLD6Gu7UH14M3M3LnNlCndSLG4bRzUP6OxGEFWlG8GPJnv3Z3h3obqK3jIAsx8GHR9ExR8YdNlvkigbQg8xDGJ hw-qe@hortonworks.com",
    "publicKeyId": null
  }
}