{
  "configurations": [
    {
        "cluster-env": {
            "properties": {
                "command_retry_max_time_in_sec": "1200"
            }
        }
    },
    {% if 'ranger' in security.value  %}
    {
        "admin-properties": {
            "properties": {
                "db_root_password": "rangerdba",
                "db_password": "rangerdba",
                "policymgr_external_url": "http:\/\/localhost:6080",
                "db_root_user": "rangerdba",
                "DB_FLAVOR": "MYSQL",
                "db_user": "rangerdba",
                "db_name": "ranger",
                "db_host": "localhost",
                "SQL_CONNECTOR_JAR": "\/usr\/share\/java\/mysql-connector-java.jar"
            }
        }
    },
    {
        "ranger-env": {
            "properties": {
                "create_db_dbuser": "true",
                "is_solrCloud_enabled": "true",
                "ranger_privelege_user_jdbc_url": "jdbc:mysql:\/\/localhost",
                "ranger_admin_password": "Rangerpassword@123",
                "rangerusersync_user_password": "Rangerpassword@123",
                "rangertagsync_user_password": "Rangerpassword@123",
                "admin_password": "Rangerpassword@123",
                "keyadmin_user_password": "Rangerpassword@123",
                "is_external_solrCloud_enabled": "false",
                "is_external_solrCloud_kerberos": "false",
                "ranger-kafka-plugin-enabled": "Yes",
                "ranger-nifi-plugin-enabled": "Yes",
                "xasecure.audit.destination.hdfs": "false"
            }
        }
    },
    {
        "ranger-admin-site": {
            "properties": {
                "ranger.jpa.jdbc.driver": "com.mysql.jdbc.Driver",
                "ranger.jpa.jdbc.url": "jdbc:mysql:\/\/localhost\/ranger",
                "ranger.audit.source.type": "solr"
            }
        }
    },
    {% endif %}
    {
      "streamline-common": {
        "properties": {
          "database_name": "streamline",
          "streamline.storage.connector.user": "streamline",
          {% if cloudbreak.operating_system.startswith('sles') %}
          "streamline.storage.type": "postgresql",
          "streamline.storage.connector.connectURI": "jdbc:postgresql://%HOSTGROUP::master_2%:5432/streamline",
          "streamline.storage.db.hostname": "localhost:5432",
          {% else %}
          "streamline.storage.type": "mysql",
          "streamline.storage.connector.connectURI": "jdbc:mysql://%HOSTGROUP::master_2%:3306/streamline",
          {% endif %}
          "registry.url": "http://%HOSTGROUP::master_2%:7788/api/v1",
          "streamline.dashboard.url": "http://%HOSTGROUP::master_2%:9090",
          "streamline.storage.connector.password": "streamline",
          "jar.storage.type": "local",
          "db_root_user": "root",
          "db_root_password": "root"
        }
      }
    },
    {
      "knox-env": {
        "properties": {
          "knox_master_secret": "knoxsecret"
        }
      }
    },
    {
      "registry-common": {
        "properties": {
          "database_name": "registry",
          "registry.storage.connector.user": "registry",
          {% if cloudbreak.operating_system.startswith('sles') %}
          "registry.storage.type": "postgresql",
          "registry.storage.connector.connectURI": "jdbc:postgresql:\/\/%HOSTGROUP::master_2%:5432\/registry",
          "registry.storage.db.hostname": "localhost:5432",
          {% else %}
          "registry.storage.type": "mysql",
          "registry.storage.connector.connectURI": "jdbc:mysql:\/\/%HOSTGROUP::master_2%:3306\/registry",
          {% endif %}
          "registry.storage.connector.password": "registry",
          "jar.storage.type": "local",
          "db_root_user": "root",
          "db_root_password": "root"
        }
      }
    }
    {% if security.value in ('kerberos', 'ranger') %}
    ,
    {
      "kafka-broker": {
        "properties": {
          "auto.create.topics.enable": "true",
          "delete.topic.enable": "true",
          "listeners": "SASL_PLAINTEXT:\/\/localhost:6668,PLAINTEXT:\/\/localhost:6669,SSL:\/\/localhost:6670,SASL_SSL:\/\/localhost:6671",
          "security.inter.broker.protocol": "SASL_PLAINTEXT",
          "ssl.truststore.location": "/tmp/nifi-test-data-ycloud/hdf_kafka/ssl/server.truststore.jks",
          "ssl.truststore.password": "Hortonworks!",
          "ssl.keystore.location": "/tmp/nifi-test-data-ycloud/hdf_kafka/ssl/server.keystore.jks",
          "ssl.key.password": "Hortonworks!",
          "ssl.keystore.password": "Hortonworks!"
        }
      }
    }
    {% endif %}
    {% if security.value in ('kerberos', 'ranger') %}
    ,
    {
      "kerberos-env": {
        "properties" : {
          "realm" : "HDF.COM",
          "kdc_type" : "mit-kdc",
          "kdc_hosts" : "ctr-e134-1499953498516-82150-01-000002.hwx.site",
          "admin_server_host" : "ctr-e134-1499953498516-82150-01-000002.hwx.site"
        }
      }
    },
    {
      "krb5-conf": {
        "properties" : {
          "manage_krb5_conf" : "true",
          "domains" : "HDF.COM",
          "content" : "[libdefaults]\nrenew_lifetime = 7d\nforwardable = true\ndefault_realm = HDF.COM\nticket_lifetime = 24h\ndns_lookup_realm = false\ndns_lookup_kdc = false\ndefault_ccache_name = /tmp/krb5cc_%{uid}\n#default_tgs_enctypes = aes des3-cbc-sha1 rc4 des-cbc-md5\n#default_tkt_enctypes = aes des3-cbc-sha1 rc4 des-cbc-md5\n[logging]\ndefault = FILE:/var/log/krb5kdc.log\nadmin_server = FILE:/var/log/kadmind.log\nkdc = FILE:/var/log/krb5kdc.log\n[realms]\nHDF.COM = {\nadmin_server = ctr-e134-1499953498516-82150-01-000002.hwx.site\nkdc = ctr-e134-1499953498516-82150-01-000002.hwx.site\n}\n"
        }
      }
    }
    {% endif %}
    ,
    {
      "logfeeder-properties" : {
        "properties": {
          "logfeeder.include.default.level" : "FATAL,ERROR,WARN,INFO,DEBUG,UNKNOWN"
        }
      }
    }
  ],
  "host_groups": [
    {
      "components": [
        {
          "name": "AMBARI_SERVER"
        },
        {
          "name": "METRICS_MONITOR"
        },
        {
          "name": "SUPERVISOR"
        },
        {
          "name": "INFRA_SOLR"
        },
        {
          "name": "INFRA_SOLR_CLIENT"
        },
        {
          "name": "LOGSEARCH_SERVER"
        },
        {
          "name": "LOGSEARCH_LOGFEEDER"
        },
        {
          "name": "METRICS_COLLECTOR"
        },
        {
          "name": "METRICS_GRAFANA"
        },
        {
          "name": "NIMBUS"
        },
        {
          "name": "DRPC_SERVER"
        },
        {
          "name": "STORM_UI_SERVER"
        },
        {
            "name": "ZOOKEEPER_CLIENT"
        }
      ],
      "configurations": [],
      "name": "master_1",
      "cardinality": "1"
    },
    {
      "components": [
        {
          "name": "REGISTRY_SERVER"
        },
        {
          "name": "STREAMLINE_SERVER"
        },
        {
          "name": "METRICS_MONITOR"
        },
        {
          "name": "SUPERVISOR"
        },
        {
          "name": "INFRA_SOLR"
        },
        {
          "name": "INFRA_SOLR_CLIENT"
        },
        {
          "name": "LOGSEARCH_LOGFEEDER"
        },
        {
            "name": "NIMBUS"
        },
        {
            "name": "ZOOKEEPER_CLIENT"
        },
        {
            "name": "KNOX_GATEWAY"
        }
        {% if security.value in ('ranger') %}
        ,
        {
            "name": "RANGER_ADMIN"
        }
        {% endif %}
      ],
      "configurations": [],
      "name": "master_2",
      "cardinality": "1"
    },
    {
      "components": [
        {
          "name": "ZOOKEEPER_SERVER"
        },
        {
          "name": "METRICS_MONITOR"
        },
        {
          "name": "SUPERVISOR"
        },
        {
          "name": "INFRA_SOLR"
        },
        {
          "name": "INFRA_SOLR_CLIENT"
        },
        {
          "name": "LOGSEARCH_LOGFEEDER"
        },
        {
          "name": "KAFKA_BROKER"
        },
        {
            "name": "ZOOKEEPER_CLIENT"
        }
      ],
      "configurations": [],
      "name": "master_3",
      "cardinality": "1"
    },
    {
      "components": [
        {
          "name": "ZOOKEEPER_SERVER"
        },
        {
          "name": "METRICS_MONITOR"
        },
        {
          "name": "LOGSEARCH_LOGFEEDER"
        },
        {
          "name": "ZOOKEEPER_CLIENT"
        },
        {
          "name": "SUPERVISOR"
        },
        {
          "name": "KAFKA_BROKER"
        }
        {% if security.value in ('ranger') %}
        ,
        {
            "name": "RANGER_USERSYNC"
        }
        {% endif %}
      ],
      "configurations": [],
      "name": "master_4",
      "cardinality": "1"
    },
    {
      "components": [
        {
          "name": "ZOOKEEPER_SERVER"
        },
        {
          "name": "METRICS_MONITOR"
        },
        {
          "name": "LOGSEARCH_LOGFEEDER"
        },
        {
          "name": "KAFKA_BROKER"
        },
        {
          "name": "ZOOKEEPER_CLIENT"
        },
        {
          "name": "SUPERVISOR"
        }
        {% if security.value in ('ranger') %}
        ,
        {
            "name": "RANGER_TAGSYNC"
        }
        {% endif %}
      ],
      "configurations": [],
      "name": "master_5",
      "cardinality": "1"
    }
  ],
  "Blueprints": {
    "blueprint_name": "{{ generated.cluster_name }}",
    "stack_name": "{{ stack }}",
    "stack_version": "{{ stack_major_version }}"
  }
}
