{
  "cdhVersion": "6.1.1",
  "products": null,
  "services": [
    {
      "refName": "zookeeper",
      "serviceType": "ZOOKEEPER",
      "serviceConfigs": null,
      "roleConfigGroups": [
        {
          "refName": "zookeeper-SERVER-BASE",
          "roleType": "SERVER",
          "base": true,
          "displayName": null,
          "configs": null
        }
      ],
      "roles": null,
      "displayName": null
    }
  ],
  "hostTemplates": [
    {
      "refName": "master",
      "roleConfigGroupsRefNames": [
        "zookeeper-SERVER-BASE"
      ],
      "cardinality": null
    }
  ],
  "displayName": "{{ generated.cluster_name }}",
  "cmVersion": null,
  "instantiator": {
    "clusterName": "{{ generated.cluster_name }}",
    "hosts": null,
    "variables": null,
    "roleConfigGroups": []
  },
  "repositories": null
}