{
  "general": {
    "name": "{{ cluster_name }}",
    "credentialName": "{{ 'ycloud' if cloud_provider == 'yarn' else 'openstack' }}"
  },
  "tags": {
    "userDefinedTags": {}
  },
  {% if cloud_provider == 'yarn' %}
  "parameters": {
    "yarnQueue": "hdf-qe-nightly",
    "lifeTime": -1
  },
  {% endif %}
  "placement": {
    {% if cloud_provider == 'openstack' %}
    "availabilityZone": "nova",
    "region": "RegionOne"
    {% else %}
    "region": "default"
    {% endif %}
  },
  "flexId": null,
  "cluster": {
    "ambari": {
      "userName": "{{ ambari_username }}",
      "password": "{{ ambari_password }}",
      "blueprintName": "{{ cluster_name }}",
      "ambariRepoDetailsJson": {
        "version": "{{ ambari_version }}",
        "baseUrl": "http://public-repo-1.hortonworks.com/ambari/centos7/2.x/updates/{{ ambari_version }}",
        "gpgKeyUrl": "http://public-repo-1.hortonworks.com/ambari/centos7/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins"
      },
      "ambariStackDetails": {
        "stack": "{{ stack }}",
        "version": "{{ stack_main_version }}",
        "verify": false,
        "enableGplRepo": false,
        "mpackUrl": "http://s3.amazonaws.com/dev.hortonworks.com/HDF/centos7/3.x/BUILDS/{{ mpack_version }}/tars/hdf_ambari_mp/hdf-ambari-mpack-{{ mpack_version }}.tar.gz",
        "repositoryVersion": "{{ stack_version_number }}",
        "versionDefinitionFileUrl": "http://s3.amazonaws.com/dev.hortonworks.com/HDF/centos7/3.x/BUILDS/{{ stack_version_number }}/{{ stack_version }}.xml"
      },
      "gateway": {
        "enableGateway": false,
        "gatewayType": "INDIVIDUAL"
      },
      "validateBlueprint": false,
      {% if kerberos %}
      "ambariSecurityMasterKey": "",
      "kerberos": {
        "password": "{{ ambari_password }}",
        "masterKey": "{{ ambari_password }}",
        "admin": "{{ ambari_username }}",
        "tcpAllowed": false
      },
      "enableSecurity": true
      {% else %}
      "ambariSecurityMasterKey": ""
      {% endif %}
    }
  },
  "imageSettings": {
    "imageId": "{{ image_id }}",
    "imageCatalog": "{{ image_catalog }}"
  },
  "instanceGroups": [
    {% for node in range(1, 6) %}
    {
      "template": {
        {% if cloud_provider == 'yarn' %}
        "customInstanceType": {
          "cpus": 4,
          "memory": 8192
        }
        {% else %}
        "parameters": {
          "encrypted": false
        },
        "instanceType": "cloudbreak",
        "volumeType": "HDD",
        "volumeCount": 0,
        "volumeSize": 100
        {% endif %}
      },
      "nodeCount": 1,
      "group": "master_{{ node }}",
      "type": "{{ 'GATEWAY' if node == 1 else 'CORE' }}",
      "recoveryMode": "MANUAL",
      {% if cloud_provider == 'openstack' %}
      "securityGroup": {
        "securityGroupId": "8a35943b-dffc-4cd4-8999-47653afed4e3"
      },
      {% endif %}
      "recipeNames": [
        {% if node == 1 %}
        "{{ cluster_name }}-jdbc-setup-sh-pre-ambari-start",
        {% elif node == 2 %}
        "{{ cluster_name }}-db-bootstrap-sh-pre-ambari-start",
        {% endif %}
        "{{ cluster_name }}-init-sh-pre-ambari-start",
        "{{ cluster_name }}-hwqe-grpc-sh-pre-ambari-start"
      ]
    {{ '},' if node < 5 else '}' }}
    {% endfor %}
  ],
  {% if cloud_provider == 'openstack' %}
  "network": {
    "parameters": {
      {# See Openstack > Network > Networks #}
      "subnetId": "0404bf21-db5f-4987-8576-e65a4a99b14e",
      "networkingOption": "provider",
      "networkId": "a5ad7a1d-d3a6-4180-8d61-07a23f6fb449"
    }
  },
  {% endif %}
  "stackAuthentication": {
    "publicKey": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDbcc+uaFq0z4bwipiy+o4Nwcm6pdrN0iePc9C5Buhq0ZFmatSXqYj4H252CU7bps/gZ/pNtIzk+/K1oMQX4Zj1UTLVqQF2kMP5TTW1Uud6uNMBWkmhnD0btgRnoBvZjUQpCOqqkPPVqknptpeDnHsXB2NM5zWzLfQAFHvLvjZ5qehBx+xOL6VzYVHwRbnOTAFWMN4SSmorBGcmfWEi4GaVYzYsdW6X8FT6eVczLZJYFyOPNCSeRRc37UwiOPpnXu6OjzwDYnSeuqqMDWp8uFc5/LWokgAlLtFXVz9FO2fuceK9vV40NEzJSfYEmUAXNgbPPGAjRUON7bQIeKRrwzsd sustaining@hortonworks.com",
    "publicKeyId": null
  }
}
