#!/bin/sh

set -eux

{% if cloudbreak.operating_system.startswith('centos') %}
yum install -y supervisor
{% elif cloudbreak.operating_system.startswith('ubuntu') or cloudbreak.operating_system.startswith('debian') %}
apt-get install --no-install-recommends -y supervisor
{% elif cloudbreak.operating_system.startswith('sles') %}
easy_install supervisor
{% endif %}

{% if not cloudbreak.operating_system.startswith('centos') %}
cat > /etc/systemd/system/supervisord.service <<ENDSUPERVISORSVC
[Unit]
Description=Process Monitoring and Control Daemon
After=rc-local.service nss-user-lookup.target

[Service]
Type=forking
ExecStart=/usr/bin/supervisord -c /etc/supervisord.conf

[Install]
WantedBy=default.target
ENDSUPERVISORSVC
{% endif %}

mkdir -p /etc/supervisor/conf.d/
SUPERVISORD_CONF=/etc/supervisord.conf
echo_supervisord_conf > $SUPERVISORD_CONF
echo "[include]
files = /etc/supervisor/conf.d/*.conf" >> $SUPERVISORD_CONF

# Install hwqe-grpc #

HWQE_GRPC_VERSION=0.3.2
HWQE_GRPC_URL=http://nexus-private.hortonworks.com:8081/nexus/content/repositories/IN-QA/org/hw/qe/hwqe-grpc-server/${HWQE_GRPC_VERSION}/hwqe-grpc-server-${HWQE_GRPC_VERSION}-bin.zip

mkdir -p /hwqe-grpc
cd /hwqe-grpc
curl -O ${HWQE_GRPC_URL}
unzip -o $(basename ${HWQE_GRPC_URL})

cat > /etc/supervisor/conf.d/00-hwqe-grpc.conf <<ENDSUPERVISORDGRPC
[program:grpc]
command = /usr/bin/java -Dhwqe.service.port=50051 -Dhwqe.service.max.message.size=4194304 -classpath "/hwqe-grpc/hwqe-grpc-0.3.2/lib/*" org.hw.qe.HwqeServer
autostart=true
autorestart=true
startsecs=5
redirect_stderr=true
stdout_logfile=/var/log/grpc.log

ENDSUPERVISORDGRPC

systemctl enable supervisord.service
systemctl start supervisord.service