{
    "configurations": [
        {% if 'ranger' in security %}
        {
            "admin-properties": {
                "properties": {
                    "db_root_password": "rangerdba",
                    "db_password": "rangerdba",
                    "policymgr_external_url": "http:\/\/localhost:6080",
                    "db_root_user": "rangerdba",
                    "DB_FLAVOR": "MYSQL",
                    "db_user": "rangerdba",
                    "db_name": "ranger",
                    "db_host": "localhost",
                    "SQL_CONNECTOR_JAR": "\/usr\/share\/java\/mysql-connector-java.jar"
                }
            }
        },
        {
            "ranger-admin-site": {
                "properties": {
                    "ranger.audit.source.type": "solr",
                    "ranger.jpa.jdbc.driver": "com.mysql.jdbc.Driver",
                    "ranger.jpa.jdbc.url": "jdbc:mysql:\/\/localhost\/ranger"
                }
            }
        },
        {
            "ranger-env": {
                "properties": {
                    "is_solrCloud_enabled": "true",
                    "ranger_privelege_user_jdbc_url": "jdbc:mysql:\/\/localhost",
                    "is_external_solrCloud_enabled": "false",
                    "is_external_solrCloud_kerberos": "false",
                    "ranger_admin_password": "rangerpassword",
                    {% if 'ranger' in security %}
                    "ranger-kafka-plugin-enabled": "No",
                    "ranger-nifi-plugin-enabled": "Yes",
                    {% endif %}
                    "xasecure.audit.destination.hdfs": "false"
                }
            }
        },
        {% endif %}
        {% if security in ('kerberos', 'ranger') %}
        {
          "kerberos-env": {
            "properties" : {
              "realm" : "HDF.COM",
               "kdc_type" : "mit-kdc",
               "kdc_hosts" : "ctr-e134-1499953498516-82150-01-000002.hwx.site",
               "admin_server_host" : "ctr-e134-1499953498516-82150-01-000002.hwx.site"
            }
          }
        },
        {
          "krb5-conf": {
            "properties" : {
              "manage_krb5_conf" : "true",
              "domains" : "HDF.COM",
              "content" : "[libdefaults]\nrenew_lifetime = 7d\nforwardable = true\ndefault_realm = HDF.COM\nticket_lifetime = 24h\ndns_lookup_realm = false\ndns_lookup_kdc = false\ndefault_ccache_name = /tmp/krb5cc_%{uid}\n#default_tgs_enctypes = aes des3-cbc-sha1 rc4 des-cbc-md5\n#default_tkt_enctypes = aes des3-cbc-sha1 rc4 des-cbc-md5\n[logging]\ndefault = FILE:/var/log/krb5kdc.log\nadmin_server = FILE:/var/log/kadmind.log\nkdc = FILE:/var/log/krb5kdc.log\n[realms]\nHDF.COM = {\nadmin_server = ctr-e134-1499953498516-82150-01-000002.hwx.site\nkdc = ctr-e134-1499953498516-82150-01-000002.hwx.site\n}\n"
            }
          }
        },
        {% endif %}
        {
          "nifi-properties": {
            "properties": {
              {% if  security in ('kerberos', 'ranger') %}
              "nifi.security.user.login.identity.provider": "kerberos-provider",
              "nifi.security.identity.mapping.pattern.dn": "^CN=(.*?), OU=(.*?)$",
              "nifi.security.identity.mapping.pattern.kerb": "^(.*?)/instance@(.*?)$",
              "nifi.security.identity.mapping.value.dn": "$1@$2",
              "nifi.security.identity.mapping.value.kerb": "$1@$2",
              {% endif %}
              "nifi.web.https.network.interface.default": "eth0",
              "nifi.cluster.node.protocol.threads": "20",
              "nifi.cluster.node.connection.timeout": "30 secs",
              "nifi.cluster.node.read.timeout": "30 secs",
              "nifi.cluster.flow.election.max.wait.time" : "2 mins",
              "nifi.remote.input.socket.port" : "9889"
            }
          }
        },
        {
            "nifi-ambari-config": {
                "properties": {
                    "nifi.sensitive.props.key": "Hortonworks@123",
                    "nifi.security.encrypt.configuration.password": "Hortonworks@123",
                    "nifi.initial_mem": "4G",
                    "nifi.max_mem": "4G"
                }
            }
        },
        {
            "nifi-ambari-ssl-config": {
                "properties": {
                    {% if security in ('kerberos', 'ranger') %}
                    "nifi.node.ssl.isenabled": "true",
                    "nifi.security.keystoreType": "JKS",
                    "nifi.security.truststoreType": "JKS",
                    "nifi.security.keystorePasswd": "Hortonworks@123",
                    "nifi.security.keyPasswd": "Hortonworks@123",
                    "nifi.security.truststorePasswd": "Hortonworks@123",
                    {% endif %}
                    "nifi.toolkit.tls.token": "Hortonworks@123",
                    "nifi.initial.admin.identity": "hrt_qa@HDF.COM",
                    "content": "<property name=\"Node Identity 1\">CN=%HOSTGROUP::master_2%, OU=NIFI<\/property>\n<property name=\"Node Identity 2\">CN=%HOSTGROUP::master_3%, OU=NIFI<\/property>\n<property name=\"Node Identity 3\">CN=%HOSTGROUP::master_4%, OU=NIFI<\/property>\n<property name=\"Node Identity 4\">CN=%HOSTGROUP::master_5%, OU=NIFI<\/property>\n"
                }
            }
        },
        {
            "registry-common": {
                "properties": {
                    "registry.storage.type": "mysql",
                    "registry.storage.connector.user": "registry",
                    "registry.storage.connector.connectURI": "jdbc:mysql:\/\/localhost:3306\/registry",
                    "registry.storage.connector.password": "registry",
                    "database_name": "registry",
                    "jar.storage.type": "local"
                }
            }
        },
        {% if  security in ('kerberos', 'ranger') %}
        {
            "kafka-broker": {
                "properties": {
                    "listeners": "SASL_PLAINTEXT:\/\/localhost:6668,PLAINTEXT:\/\/localhost:6669,SSL:\/\/localhost:6670,SASL_SSL:\/\/localhost:6671",
                    "delete.topic.enable": "true",
                    "security.inter.broker.protocol": "SASL_PLAINTEXT",
                    "auto.create.topics.enable": "true",
                    "ssl.truststore.location": "/tmp/nifi-test-data-ycloud/hdf_kafka/ssl/server.truststore.jks",
                    "ssl.truststore.password": "Hortonworks!",
                    "ssl.keystore.location": "/tmp/nifi-test-data-ycloud/hdf_kafka/ssl/server.keystore.jks",
                    "ssl.key.password": "Hortonworks!",
                    "ssl.keystore.password": "Hortonworks!"
                }
            }
        },
        {% endif %}
        {
            "ams-hbase-site": {
                "properties": {
                    "hbase.tmp.dir": "\/grid\/0\/var\/lib\/ambari-metrics-collector\/hbase-tmp",
                    "hbase.rootdir": "file:\/\/\/grid\/0\/var\/lib\/ambari-metrics-collector\/hbase"
                }
            }
        }
    ],
    "host_groups": [
        {
            "components": [
                {
                    "name": "ZOOKEEPER_SERVER"
                },
                {
                    "name": "AMBARI_SERVER"
                },
                {
                    "name": "METRICS_MONITOR"
                },
                {
                    "name": "INFRA_SOLR"
                },
                {
                    "name": "INFRA_SOLR_CLIENT"
                },
                {
                    "name": "LOGSEARCH_LOGFEEDER"
                },
                {
                    "name": "LOGSEARCH_SERVER"
                },
                {
                    "name": "METRICS_COLLECTOR"
                },
                {
                    "name": "METRICS_GRAFANA"
                },
                {
                  "name": "ZOOKEEPER_CLIENT"
                }
            ],
            "configurations": [],
            "name": "master_1",
            "cardinality": "1"
        },
        {
            "components": [
                {
                    "name": "REGISTRY_SERVER"
                },
                {
                    "name": "ZOOKEEPER_SERVER"
                },
                {
                    "name": "METRICS_MONITOR"
                },
                {
                    "name": "LOGSEARCH_LOGFEEDER"
                },
                {
                    "name": "INFRA_SOLR"
                },
                {
                    "name": "INFRA_SOLR_CLIENT"
                },
                {% if 'ranger' in security %}
                {
                    "name": "RANGER_ADMIN"
                },
                {
                    "name": "RANGER_USERSYNC"
                },
                {
                    "name": "RANGER_TAGSYNC"
                },
                {% endif %}
                {
                    "name": "NIFI_MASTER"
                },
                {
                  "name": "ZOOKEEPER_CLIENT"
                }
            ],
            "configurations": [],
            "name": "master_2",
            "cardinality": "1"
        },
        {
            "components": [
                {
                    "name": "ZOOKEEPER_SERVER"
                },
                {
                    "name": "METRICS_MONITOR"
                },
                {
                    "name": "NIFI_MASTER"
                },
                {
                    "name": "LOGSEARCH_LOGFEEDER"
                },
                {
                    "name": "INFRA_SOLR"
                },
                {
                    "name": "INFRA_SOLR_CLIENT"
                },
                {
                    "name": "KAFKA_BROKER"
                },
                {
                  "name": "ZOOKEEPER_CLIENT"
                }
            ],
            "configurations": [],
            "name": "master_3",
            "cardinality": "1"
        },
        {
            "components": [
                {
                    "name": "METRICS_MONITOR"
                },
                {
                    "name": "NIFI_MASTER"
                },
                {
                    "name": "LOGSEARCH_LOGFEEDER"
                },
                {
                    "name": "ZOOKEEPER_CLIENT"
                },
                {
                    "name": "KAFKA_BROKER"
                }
            ],
            "configurations": [],
            "name": "master_4",
            "cardinality": "1"
        },
        {
            "components": [
                {
                    "name": "METRICS_MONITOR"
                },
                {
                    "name": "KAFKA_BROKER"
                },
                {
                    "name": "NIFI_MASTER"
                },
                {
                    "name": "LOGSEARCH_LOGFEEDER"
                },
                {
                    "name": "ZOOKEEPER_CLIENT"
                },
                {
                    "name": "NIFI_CA"
                }
            ],
            "configurations": [],
            "name": "master_5",
            "cardinality": "1"
        }
    ],
    "Blueprints": {
        "blueprint_name": "{{ cluster_name }}",
        "stack_name": "{{ stack }}",
        "stack_version": "{{ stack_major_version }}"
    }
}