{
  "general": {
    "name": "{{ cluster_name }}",
    "credentialName": "{{ 'ycloud' if cloud_provider == 'yarn' else 'openstack' }}"
  },
  "tags": {
    "userDefinedTags": {}
  },
  {% if cloud_provider == 'yarn' %}
  "parameters": {
    "yarnQueue": "qaas",
    "lifeTime": -1
  },
  {% endif %}
  "placement": {
    {% if cloud_provider == 'openstack' %}
    "availabilityZone": "nova",
    "region": "RegionOne"
    {% else %}
    "region": "default"
    {% endif %}
  },
  "flexId": null,
  "cluster": {
    "ambari": {
      "userName": "{{ ambari_username }}",
      "password": "{{ ambari_password }}",
      "blueprintName": "{{ cluster_name }}",
      "ambariRepoDetailsJson": {
        "version": "{{ ambari_version }}",
        "baseUrl": "{{ ambari_repo_url }}",
        "gpgKeyUrl": "http://public-repo-1.hortonworks.com/ambari/centos7/RPM-GPG-KEY/RPM-GPG-KEY-Jenkins"
      },
      "ambariStackDetails": {
        "stack": "{{ stack }}",
        "version": "{{ stack_major_version }}",
        "verify": false,
        "enableGplRepo": false,
        "mpackUrl": "{{ mpack_url }}",
        "repositoryVersion": "{{ stack_version_with_build }}",
        "versionDefinitionFileUrl": "{{ stack_vdf_url }}"
      },
      "gateway": {
        "enableGateway": false,
        "gatewayType": "INDIVIDUAL"
      },
      "validateBlueprint": false,
      {% if security in ('kerberos', 'ranger') %}
      "ambariSecurityMasterKey": "",
      "kerberos": {
        "password": "{{ ambari_password }}",
        "masterKey": "{{ ambari_password }}",
        "admin": "{{ ambari_username }}",
        "tcpAllowed": false
      },
      "enableSecurity": true
      {% else %}
      "ambariSecurityMasterKey": ""
      {% endif %}
    }
  },
  "imageSettings": {
    "imageId": "{{ image_id }}",
    "imageCatalog": "{{ image_catalog }}"
  },
  "instanceGroups": [
    {% for node in range(1, 6) %}
    {
      "template": {
        {% if cloud_provider == 'yarn' %}
        "customInstanceType": {
          "cpus": 4,
          "memory": 8192
        }
        {% else %}
        "parameters": {
          "encrypted": false
        },
        "instanceType": "cloudbreak",
        "volumeType": "HDD",
        "volumeCount": 0,
        "volumeSize": 100
        {% endif %}
      },
      "nodeCount": 1,
      "group": "master_{{ node }}",
      "type": "{{ 'GATEWAY' if node == 1 else 'CORE' }}",
      "recoveryMode": "MANUAL",
      {% if cloud_provider == 'openstack' %}
      "securityGroup": {
        "securityGroupId": "8a35943b-dffc-4cd4-8999-47653afed4e3"
      },
      {% endif %}
      "recipeNames": [
        {% if node == 1 %}
        "{{ cluster_name }}-jdbc-setup-sh-pre-ambari-start",
        {% elif node == 2 %}
        "{{ cluster_name }}-db-bootstrap-sh-pre-ambari-start",
        {% endif %}
        {% if cloud_provider == 'yarn' %}
        "{{ cluster_name }}-ycloud-dns-workaround-sh-pre-ambari-start",
        {% endif %}
        "{{ cluster_name }}-init-sh-pre-ambari-start",
        "{{ cluster_name }}-hwqe-grpc-sh-pre-ambari-start"
      ]
    {{ '},' if node < 5 else '}' }}
    {% endfor %}
  ],
  {% if cloud_provider == 'openstack' %}
  "network": {
    "parameters": {
      {# See Openstack > Network > Networks #}
      "subnetId": "0404bf21-db5f-4987-8576-e65a4a99b14e",
      "networkingOption": "provider",
      "networkId": "a5ad7a1d-d3a6-4180-8d61-07a23f6fb449"
    }
  },
  {% endif %}
  "stackAuthentication": {
    "publicKey": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDB/hBQfzF91SExZ4MglU7eX26RfIEsz5aCGzzbaGeQG7Jch5XIWHE192A/5jRUZy2eU5sFMsYS32LEqKSVJn5N/5P7yE2QvcTUosM7wHWQW4JrImL0PTJTPXRc/QvkGPka3LvBCL6PlVENyGGo+C3D+dgSloaBeZ9URk0I+Yc/VsihQoMdkVOYIKAGxZlG/JBEBBjCZ5ng4WlzdfcsKgtUGbr6nOn3mqK8/Pkv8CeWguEYaibj5Os6ydmHVZ30w0tLD6Gu7UH14M3M3LnNlCndSLG4bRzUP6OxGEFWlG8GPJnv3Z3h3obqK3jIAsx8GHR9ExR8YdNlvkigbQg8xDGJ hw-qe@hortonworks.com",
    "publicKeyId": null
  }
}