{
  "livy2-env": {
    "properties": {
      "livy2_group": "livy",
      "livy2_user": "livy"
    }
  }
},
{
  "spark2-env": {
    "properties": {
      "spark_group": "spark",
      "spark_user": "spark"
    }
  }
}
