        {
		  	"superset-env": {
				"properties": {
					"superset_admin_email": "qe@hortonworks.com",
					"superset_admin_firstname": "admin",
					"superset_admin_lastname": "admin",
					"superset_admin_password": "admin"
				}
		  	}
		},
		{
		  "superset": {
				"properties": {
					"DATABASE_HOSTNAME": "ambari-server.hwx.site",
					"SECRET_KEY": "123admin123",
					"SUPERSET_DATABASE_HOSTNAME": "ambari-server.hwx.site",
					"SUPERSET_DATABASE_NAME": "superset",
					"SUPERSET_DATABASE_PASSWORD": "superset",
					"SUPERSET_DATABASE_PORT": "3306",
					"SUPERSET_DATABASE_TYPE": "mysql",
					"SUPERSET_DATABASE_USER": "superset"
				}
		  	}
		}