{
  "tez-site": {
    "properties": {
      "tez.am.max.app.attempts": "20",
      "tez.am.resource.memory.mb": "2048",
      "tez.lib.uris": "/hdp/apps/${hdp.version}/tez/tez.tar.gz",
      "tez.runtime.io.sort.mb": "819",
      "tez.runtime.unordered.output.buffer.size-mb": "184"
    }
  }
},
{
  "tez-env": {
    "properties": {
      "tez_user": "tez"
    }
  }
}