#!/bin/sh

set -eux

{% if os.startswith('centos') %}
yum install -y mysql-connector-java
{% elif os.startswith('ubuntu') or os.startswith('debian') %}
apt-get install -y libmysql-java
{% endif %}

useradd nifi

for i in $(seq 0 3); do
    rm -rf /grid/${i}/*
    mkdir -p /grid/${i}/nifi
    chown nifi:nifi /grid/${i}/nifi
done
