"kerberos": {
        "url": "ctr-e139-1542663976389-27189-01-000002.hwx.site",
        "adminUrl": "ctr-e139-1542663976389-27189-01-000002.hwx.site",
        "realm": "HDP.COM",
        "tcpAllowed": true,
        "password": "Hortonworks",
        "principal": "admin/admin"
      }