      "gateway": {
	        "enableGateway": true,
	        "topologies": [{
		      "topologyName": "dp-proxy",
		      "exposedServices": ["AMBARI", "ATLAS", "ALL"]
	        }],
	        "ssoType": "SSO_PROVIDER"
      }