{
	"Blueprints": {
		"blueprint_name": "{{ generated.cluster_name }}",
		"stack_name": "{{ stack }}",
		"stack_version": "{{ stack_major_version }}"
	},
	"configurations": [
	{% if security.value in ('ranger', 'tde') %}
	  {
			"ranger-knox-plugin-properties": {
				"properties": {
					"XAAUDIT.DB.IS_ENABLED": "false",
					"common.name.for.certificate": "",
					"ranger-knox-plugin-enabled": "Yes"
				}
			}
		},
		{
			"ranger-admin-site": {
				"properties": {
					"ranger.audit.source.type": "solr",
					"ranger.jpa.jdbc.driver": "com.mysql.jdbc.Driver",
					"ranger.jpa.jdbc.url": "jdbc:mysql://localhost/ranger"
				}
			}
		},
		{
			"ranger-kafka-plugin-properties": {
				"properties": {
					"ranger-kafka-plugin-enabled": "Yes"
				}
			}
		},
		{
			"admin-properties": {
				"properties": {
					"DB_FLAVOR": "MYSQL",
					"SQL_CONNECTOR_JAR": "/usr/share/java/mysql-connector-java.jar",
					"audit_db_name": "ranger_audit",
					"audit_db_password": "rangerlogger",
					"audit_db_user": "rangerlogger",
					"db_host": "localhost",
					"db_name": "ranger",
					"db_password": "rangeradmin",
					"db_root_password": "mysql",
					"db_root_user": "root",
					"db_user": "rangeradmin",
					"policymgr_external_url": "http:\/\/localhost:6080"
				}
			}
		},
		{
			"ranger-env": {
				"properties": {
					"admin_password": "Rangerpassword@123",
					"create_db_dbuser": "true",
					"is_external_solrCloud_enabled": "false",
					"is_external_solrCloud_kerberos": "false",
					"is_solrCloud_enabled": "true",
					"keyadmin_user_password": "Rangerpassword@123",
					"ranger-atlas-plugin-enabled": "Yes",
					"ranger-hbase-plugin-enabled": "Yes",
					"ranger-hdfs-plugin-enabled": "Yes",
					"ranger-hive-plugin-enabled": "Yes",
					"ranger-kafka-plugin-enabled": "Yes",
					"ranger-knox-plugin-enabled": "Yes",
					"ranger-storm-plugin-enabled": "Yes",
					"ranger-yarn-plugin-enabled": "Yes",
					"ranger_admin_password": "Rangerpassword@123",
					"ranger_group": "ranger",
					"ranger_privelege_user_jdbc_url": "jdbc:mysql://localhost",
					"ranger_user": "ranger",
					"rangertagsync_user_password": "Rangerpassword@123",
					"rangerusersync_user_password": "Rangerpassword@123",
					"xasecure.audit.destination.solr": "true"
				}
			}
		},
		{
			"ranger-yarn-plugin-properties": {
				"properties": {
					"REPOSITORY_CONFIG_USERNAME": "yarn",
					"common.name.for.certificate": "-",
					"policy_user": "ambari-qa",
					"ranger-yarn-plugin-enabled": "Yes"
				}
			}
		},
		{
			"ranger-hive-plugin-properties": {
				"properties": {
					"ranger-hive-plugin-enabled": "Yes"
				}
			}
		},
		{
			"ranger-hdfs-plugin-properties": {
				"properties": {
					"REPOSITORY_CONFIG_USERNAME": "hadoop",
					"common.name.for.certificate": "-",
					"policy_user": "ambari-qa",
					"ranger-hdfs-plugin-enabled": "Yes"
				}
			}
		},
		{% if security.value in ('tde') %}
		{
			"kms-site": {
				"properties": {
					"hadoop.kms.proxyuser.HTTP.hosts": "*",
					"hadoop.kms.proxyuser.HTTP.users": "*",
					"hadoop.kms.proxyuser.ambari.hosts": "*",
					"hadoop.kms.proxyuser.ambari.users": "*",
					"hadoop.kms.proxyuser.hive.hosts": "*",
					"hadoop.kms.proxyuser.hive.users": "*",
					"hadoop.kms.proxyuser.oozie.hosts": "*",
					"hadoop.kms.proxyuser.oozie.users": "*",
					"hadoop.kms.proxyuser.yarn.hosts": "*",
					"hadoop.kms.proxyuser.yarn.users": "*"
				}
			}
		},
		{
			"kms-env": {
				"properties": {
					"kms_group": "kms",
					"kms_user": "kms"
				}
			}
		}, {
			"kms-properties": {
				"properties": {
					"DB_FLAVOR": "MYSQL",
					"KMS_MASTER_KEY_PASSWD": "rangerlogger",
					"SQL_CONNECTOR_JAR": "/usr/share/java/mysql-connector-java.jar",
					"db_host": "localhost",
					"db_name": "rangerkms",
					"db_password": "rangerkms",
					"db_root_password": "mysql",
					"db_root_user": "root",
					"db_user": "rangerkms",
					"ranger.ks.jpa.jdbc.url": "jdbc:mysql://localhost:3306/rangerkms"
				}
			}
		},
		{% endif %}
		{
			"ranger-atlas-plugin-properties": {
				"properties": {
					"REPOSITORY_CONFIG_USERNAME": "atlas",
					"ranger-atlas-plugin-enabled": "Yes"
				}
			}
		},
		{% endif %}
		{
			"atlas-env": {
				"properties": {
					"atlas.admin.password": "admin123",
					"atlas.admin.username": "admin",
					"metadata_log_dir": "/grid/0/log/atlas",
					"metadata_user": "atlas"
				}
			}
		},
		{
			"application-properties": {
				"properties": {
					"atlas.authorizer.impl": "ranger",
					"atlas.graph.storage.hostname": "%HOSTGROUP::slave_group%:2181"
				}
			}
		},
		{
			"hive-interactive-env": {
				"properties": {
					"enable_hive_interactive": "true",
					"hive_server_interactive_host": "%HOSTGROUP::master_2%",
					"num_retries_for_checking_llap_status": "10"
				}
			}
		},
		{
			"zeppelin-env": {
				"properties": {
					"zeppelin_group": "zeppelin",
					"zeppelin_log_dir": "/grid/0/log/zeppelin",
					"zeppelin_user": "zeppelin"
				}
			}
		},
		{
			"ams-hbase-site": {
				"properties": {
					"hbase.rootdir": "file:///grid/0/lib/ambari-metrics-collector/hbase",
					"hbase.tmp.dir": "/grid/0/lib/ambari-metrics-collector/hbase-tmp"
				}
			}
		},
		{
			"hst-agent-conf": {
				"properties": {
					"server.connection_retry_count": "500",
					"server.connection_retry_interval": "7"
				}
			}
		},

		{
			"activity-log4j": {
				"properties": {
					"activity_log_dir": "/grid/0/log/smartsense-activity"
				}
			}
		},
		{
			"ams-env": {
				"properties": {
					"ambari_metrics_user": "ams",
					"metrics_collector_log_dir": "/grid/0/log/metric_collector",
					"metrics_monitor_log_dir": "/grid/0/log/metric_monitor"
				}
			}
		},
		{
			"ams-hbase-env": {
				"properties": {
					"hbase_log_dir": "/grid/0/log/metric_collector"
				}
			}
		},
		{% if security.value in ('kerberos', 'ranger', 'tde') %}
		{
			"kerberos-env": {
				"properties": {
					"admin_server_host": "ctr-e134-1499953498516-82150-01-000002.hwx.site",
					"encryption_types": "aes des3-cbc-sha1 rc4 des-cbc-md5",
					"kdc_hosts": "ctr-e134-1499953498516-82150-01-000002.hwx.site",
					"kdc_type": "mit-kdc",
					"realm": "HDF.COM"
				}
			}
		},
		{
			"krb5-conf": {
				"properties": {
					"domains": "HDF.COM",
					"manage_krb5_conf": "true",
					"content": "[libdefaults]\nrenew_lifetime = 7d\nforwardable = true\ndefault_realm = HDF.COM\nticket_lifetime = 24h\ndns_lookup_realm = false\ndns_lookup_kdc = false\ndefault_ccache_name = /tmp/krb5cc_%{uid}\n#default_tgs_enctypes = aes des3-cbc-sha1 rc4 des-cbc-md5\n#default_tkt_enctypes = aes des3-cbc-sha1 rc4 des-cbc-md5\n[logging]\ndefault = FILE:/var/log/krb5kdc.log\nadmin_server = FILE:/var/log/kadmind.log\nkdc = FILE:/var/log/krb5kdc.log\n[realms]\nHDF.COM = {\nadmin_server = ctr-e134-1499953498516-82150-01-000002.hwx.site\nkdc = ctr-e134-1499953498516-82150-01-000002.hwx.site\n}\n"
				}
			}
		},
		{% endif %}
		{
			"tez-site": {
				"properties": {

					"tez.am.resource.memory.mb": "2048",
					{% raw %}
					"tez.lib.uris": "/hdp/apps/${hdp.version}/tez/tez.tar.gz",
					{% endraw %}
					"tez.runtime.io.sort.mb": "819",
					"tez.runtime.unordered.output.buffer.size-mb": "184"
				}
			}
		},
		{
			"hdfs-site": {
				"properties": {
					{% if security.value in ('ranger', 'tde') %}
					"dfs.namenode.inode.attributes.provider.class": "org.apache.ranger.authorization.hadoop.RangerHdfsAuthorizer",
					{% endif %}
					"dfs.datanode.data.dir": "/grid/0/hadoop/hdfs/data",
					"dfs.datanode.https.address": "0.0.0.0:20475",
					"dfs.disk.balancer.enabled": "true",
					"dfs.journalnode.edits.dir": "/hadoop/hdfs/journal",
					"dfs.namenode.checkpoint.dir": "/hadoop/hdfs/namesecondary",
					"dfs.namenode.http-address": "%HOSTGROUP::master_2%:20070",
					"dfs.namenode.name.dir": "/hadoop/hdfs/namenode",
					"dfs.namenode.secondary.http-address": "0.0.0.0:50090",
					"dfs.support.append": "true",
					"nfs.udp.client.portmap.timeout.millis": "5000"
				}
			}
		},
		{
			"ams-site": {
				"properties": {
					"timeline.metrics.service.rpc.address": "0.0.0.0:20200"
				}
			}
		},
		{
			"kafka-broker": {
				"properties": {
					{% if security.value in ('ranger', 'tde') %}
					"authorizer.class.name": "org.apache.ranger.authorization.kafka.authorizer.RangerKafkaAuthorizer",
					{% endif %}
					"log.dirs": "/grid/0/kafka-logs",
					"zookeeper.connection.timeout.ms": "360000"
				}
			}
		},
		{
			"ams-grafana-env": {
				"properties": {
					"metrics_grafana_password": "admin"
				}
			}
		},
		{
			"hive-site": {
				"properties": {
					"ambari.hive.db.schema.name": "hivedb",
					{% if security.value in ('ranger', 'tde') %}
					"atlas.hook.hive.maxThreads": "1",
					"atlas.hook.hive.minThreads": "1",
					{% endif %}
					"hive.execution.engine": "tez",
					"hive.query.results.cache.enabled": "false",
					"hive.security.authorization.enabled": "true",
					"hive.server2.enable.doAs": "false",
					"hive.tez.container.size": "4096",
					"hive.tez.java.opts": "-server -Djava.net.preferIPv4Stack=true -XX:NewRatio=8 -XX:+UseNUMA -XX:+UseG1GC -XX:+ResizeTLAB -XX:+PrintGCDetails -verbose:gc -XX:+PrintGCTimeStamps",
					"javax.jdo.option.ConnectionDriverName": "com.mysql.jdbc.Driver",
					"javax.jdo.option.ConnectionPassword": "password",
					"javax.jdo.option.ConnectionURL": "jdbc:mysql://localhost/hivedb?createDatabaseIfNotExist=true",
					"javax.jdo.option.ConnectionUserName": "hiveuser"
				}
			}
		},
		{
			"mapred-env": {
				"properties": {
					"mapred_log_dir_prefix": "/grid/0/log/hadoop-mapreduce",
					"mapred_user": "mr",
					"mapreduce_log_dir_prefix": "/grid/0/log/hadoop-mapreduce"
				}
			}
		},
		{
			"livy2-env": {
				"properties": {
					"livy2_group": "livy",
					"livy2_user": "livy"
				}
			}
		},

		{
			"logsearch-env": {
				"properties": {
					"logsearch_log_dir": "/grid/0/log/ambari-logsearch-portal",
					"logsearch_user": "logsearch"
				}
			}
		},
		{
			"tez-env": {
				"properties": {
					"tez_user": "tez"
				}
			}
		},

		{
			"hive-interactive-site": {
				"properties": {
					"hive.llap.io.allocator.mmap.path": "/tmp"
				}
			}
		},
		{
			"knox-env": {
				"properties": {
					"knox_group": "knox",
					"knox_master_secret": "knoxsecret",
					"knox_user": "knox"
				}
			}
		},
		{
			"activity-zeppelin-shiro": {
				"properties": {
					"users.admin": "admin"
				}
			}
		},
		{
			"core-site": {
				"properties": {
					"fs.azure.account.key.hwxasvtesting.blob.core.windows.net": "R/1hsiE/qdHPZU9yfrSPlOcJ7AvPAtdsaNyRxaWC++NkU8jxHNC1m6ZsuOpRqyodiP/Fnn29NrI+/zZ4nEJN6A==",
					"hadoop.proxyuser.hdfs.groups": "*",
					"hadoop.proxyuser.hdfs.hosts": "*",
					"hadoop.proxyuser.hive.hosts": "*",
					"hadoop.proxyuser.falcon.groups": "*",
					"hadoop.proxyuser.falcon.hosts": "*",
					"hadoop.proxyuser.hcat.groups": "*",
					"hadoop.proxyuser.hdfs.groups": "*",
					"hadoop.proxyuser.hdfs.hosts": "*",
					"hadoop.proxyuser.hive.groups": "*",
					"hadoop.proxyuser.hive.hosts": "*",
					"hadoop.proxyuser.oozie.groups": "*",
					"hadoop.proxyuser.oozie.hosts": "*",
					"io.compression.codec.lzo.class": "com.hadoop.compression.lzo.LzoCodec",
					"io.compression.codecs": "org.apache.hadoop.io.compress.GzipCodec,org.apache.hadoop.io.compress.DefaultCodec,org.apache.hadoop.io.compress.SnappyCodec,com.hadoop.compression.lzo.LzoCodec,com.hadoop.compression.lzo.LzopCodec",
					"proxyuser_group": "users"
				}
			}
		},
		{
			"yarn-env": {
				"properties": {
					"yarn_log_dir_prefix": "/grid/0/log/yarn",
					"yarn_user": "yarn"
				}
			}
		},
		{
			"hadoop-env": {
				"properties": {
					"hdfs_user": "hdfs",
					"proxyuser_group": "users"
				}
			}
		},
		{
			"yarn-site": {
				"properties": {
					{% if security.value in ('ranger', 'tde') %}
					"yarn.authorization-provider": "org.apache.ranger.authorization.yarn.authorizer.RangerYarnAuthorizer",
					{% endif %}
					"yarn.log-aggregation-status.time-out.ms": "180000",
					"yarn.nodemanager.address": "0.0.0.0:25454",
					"yarn.nodemanager.delete.debug-delay-sec": "3600",
					"yarn.nodemanager.local-dirs": "/grid/0/hadoop/yarn/local",
					"yarn.nodemanager.log-dirs": "/grid/0/hadoop/yarn/log",
					"yarn.timeline-service.enabled": "true",
					"yarn.timeline-service.leveldb-state-store.path": "/grid/0/hadoop/yarn/timeline",
					"yarn.timeline-service.leveldb-timeline-store.path": "/grid/0/hadoop/yarn/timeline"
				}
			}
		},
		{
			"hive-env": {
				"properties": {
					"hcat_user": "hcat",
					"hive_database": "Existing MySQL / MariaDB Database",
					"hive_database_type": "mysql",
					"hive_existing_mysql_database": "MySQL",
					"hive_log_dir": "/grid/0/log/hive",
					"hive_metastore_user_passwd": "password",
					{% if security.value in ('ranger', 'tde') %}
					"hive_security_authorization": "Ranger",
					{% endif %}
					"hive_user": "hive",
					"webhcat_user": "hcat"
				}
			}
		},
		{
			"capacity-scheduler": {
				"properties": {
					"yarn.scheduler.capacity.maximum-am-resource-percent": "0.4",
					"yarn.scheduler.capacity.root.acl_submit_applications": "hive,zeppelin,hbase,ambari-qa users"
				}
			}
		},
		{
			"hst-server-conf": {
				"properties": {
					"customer.account.name": "Hortonworks",
					"customer.notification.email": "abcqe@hortonworks.com",
					"customer.smartsense.id": "A-00000000-C-00000000"
				}
			}
		},
		{
			"spark2-env": {
				"properties": {
					"spark_group": "spark",
					"spark_user": "spark"
				}
			}
		},
		{
			"zoo.cfg": {
				"properties": {
					"dataDir": "/grid/0/hadoop/zookeeper",
					"tickTime": "4500"
				}
			}
		},
		{
			"hiveserver2-site": {
				"properties": {
					{% if security.value in ('ranger', 'tde') %}
					"hive.security.authorization.manager": "org.apache.ranger.authorization.hive.authorizer.RangerHiveAuthorizerFactory",
					{% endif %}
					"hive.conf.restricted.list": "hive.security.authorization.enabled,hive.security.authorization.manager,hive.security.authenticator.manager",
					"hive.security.authenticator.manager": "org.apache.hadoop.hive.ql.security.SessionStateUserAuthenticator",
					"hive.security.authorization.enabled": "true"
				}
			}
		},

		{
			"kafka-env": {
				"properties": {
					"kafka_log_dir": "/grid/0/log/kafka",
					"kafka_user": "kafka"
				}
			}
		},
		{
			"zookeeper-env": {
				"properties": {
					"zk_log_dir": "/grid/0/log/zookeeper",
					"zk_user": "zookeeper"
				}
			}
		},
		{
			"cluster-env": {
				"properties": {
					"command_retry_max_time_in_sec": "1200"
				}
			}
		}
	],
	"host_groups": [{
			"cardinality": "1",
			"components": [{
					"name": "DATANODE"
				},
				{
					"name": "HDFS_CLIENT"
				},
				{
					"name": "JOURNALNODE"
				},
				{
					"name": "MAPREDUCE2_CLIENT"
				},
				{
					"name": "YARN_CLIENT"
				},
				{
					"name": "ZOOKEEPER_CLIENT"
				},
				{
					"name": "METRICS_MONITOR"
				},
				{
					"name": "ATLAS_CLIENT"
				},
				{
					"name": "ATLAS_SERVER"
				},
				{
					"name": "HIVE_CLIENT"
				},
				{
					"name": "KAFKA_BROKER"
				},
				{
					"name": "SECONDARY_NAMENODE"
				},
				{
					"name": "PIG"
				},
				{
					"name": "HST_AGENT"
				},
				{
					"name": "SPARK2_CLIENT"
				},
				{% if security.value in ('kerberos', 'ranger', 'tde') %}
				{
					"name": "KERBEROS_CLIENT"
				},
				{% endif %}
				{
					"name": "TEZ_CLIENT"
				}
			],
			"name": "master_1"
		},
		{
			"cardinality": "1",
			"components": [
			  {% if security.value in ('ranger', 'tde') %}
				{
					"name": "RANGER_TAGSYNC"
				},
				{
					"name": "RANGER_ADMIN"
				},
				{
					"name": "RANGER_USERSYNC"
				},
				{% endif %}
				{% if security.value in ('tde') %}
			  {
					"name": "RANGER_KMS_SERVER"
				},
				{% endif %}
				{
					"name": "NAMENODE"
				},
				{
					"name": "DATANODE"
				},
				{
					"name": "JOURNALNODE"
				},
				{
					"name": "HISTORYSERVER"
				},
				{
					"name": "YARN_REGISTRY_DNS"
				},
				{
					"name": "RESOURCEMANAGER"
				},
				{
					"name": "TIMELINE_READER"
				},
				{
					"name": "APP_TIMELINE_SERVER"
				},
				{
					"name": "ZOOKEEPER_CLIENT"
				},
				{
					"name": "METRICS_GRAFANA"
				},
				{
					"name": "METRICS_COLLECTOR"
				},
				{
					"name": "METRICS_MONITOR"
				},
				{
					"name": "HIVE_SERVER"
				},
				{
					"name": "HIVE_METASTORE"
				},
				{
           "name": "HIVE_SERVER_INTERACTIVE"
        },
				{
					"name": "HIVE_CLIENT"
				},
				{
					"name": "KNOX_GATEWAY"
				},
				{
					"name": "LIVY2_SERVER"
				},
				{
					"name": "PIG"
				},
				{
					"name": "ACTIVITY_EXPLORER"
				},
				{
					"name": "HST_AGENT"
				},
				{
					"name": "HST_SERVER"
				},
				{
					"name": "ACTIVITY_ANALYZER"
				},
				{
					"name": "SPARK2_THRIFTSERVER"
				},
				{
					"name": "SPARK2_JOBHISTORYSERVER"
				},
				{
					"name": "TEZ_CLIENT"
				},
				{
					"name": "ZEPPELIN_MASTER"
				}
			],
			"name": "master_2"
		},
		{
			"cardinality": "1",
			"components": [{
					"name": "DATANODE"
				},
				{
					"name": "NODEMANAGER"
				},
				{
					"name": "ZOOKEEPER_SERVER"
				},
				{
					"name": "ZOOKEEPER_CLIENT"
				},
				{
					"name": "METRICS_MONITOR"
				},
				{
					"name": "ATLAS_CLIENT"
				},
				{
					"name": "HIVE_CLIENT"
				},
				{
					"name": "KAFKA_BROKER"
				},
				{
					"name": "PIG"
				},
				{
					"name": "HST_AGENT"
				},
				{
					"name": "TEZ_CLIENT"
				}
			],
			"name": "slave_group"
		}
	]
}