{% set services = ['hdfs', 'nfs','yarn', 'mr', 'zookeeper', 'pig','sqoop','ams','ranger','kms','hbase','phoenix', 'atlas', 'knox', 'kafka', 'hive','hsi','spark','livy','zeppelin', 'kerberos', 'smartsense','infra_solr','tez'] %}

"host_groups": [{
                  "cardinality": "1",
                  "components": [
                  {% for service in services %}
                  {% include ["common-topology/master/ha/"+ service + ".json.j2", "common-topology/master/"+ service + ".json.j2"] ignore missing %}
                  {% endfor %}
                  ],
                  "name": "host_group_master"
                },
                {
                  "cardinality": "1",
                  "components": [
                  {% for service in services %}
                  {% include ["common-topology/gateway/ha/"+ service + ".json.j2", "common-topology/gateway/"+ service + ".json.j2"] ignore missing %}
                  {% endfor %}
                  ],
                  "name": "host_group_gateway"
                },
                {
                  "cardinality": "1",
                  "components": [
                  {% for service in services %}
                  {% include ["common-topology/ha_master/ha/"+ service + ".json.j2", "common-topology/ha_master/"+ service + ".json.j2"] ignore missing %}
                  {% endfor %}
                  ],
                  "name": "host_group_ha_master"
                },
                {
                  "cardinality": "1",
                  "components": [
                  {% for service in services %}
                  {% include ["common-topology/slave/ha/"+ service + ".json.j2", "common-topology/slave/"+ service + ".json.j2"] ignore missing %}
                  {% endfor %}
                  ],
                  "name": "host_group_slave"
                }
]