#!/bin/bash -eux

# A utility to start knox demo ldap server so that it can be used for knox tests.

knox_server_path=/usr/hdf/current/knox-server
[ -d  ${knox_server_path} ] && ${knox_server_path}/bin/ldap.sh start